.features-carousel {
	@apply w-full lg:w-[463px];

	&.is-animate {
		@apply pointer-events-none;
	}
}

.features-carousel__container {
	@apply w-full relative mb-6 2xl:mb-10;
}

.features-carousel__item {
	@apply w-full h-[66px] relative overflow-hidden rounded-3xl border border-white border-opacity-30;
	background: var(--secondary-gradient);
	&:not(:last-child) {
		@apply mb-0 md:mb-2 2xl:mb-3;
	}

	&::after {
		content: "";
		@apply absolute top-0 left-0 w-full h-full opacity-0 pointer-events-none;
		background: radial-gradient(
			171.83% 91.93% at 92.7% 22.59%,
			rgba(245, 142, 142, 0.3) 0%,
			rgba(127, 150, 255, 0) 88.5%
		);
		transition: opacity 0.32s ease-in-out;
	}

	&.is-active {
		&::after {
			@apply opacity-100;
		}

		.features-carousel__item-cta {
			@apply rotate-90;
			&::before {
				@apply opacity-100;
			}
		}
	}
}

.features-carousel__ill {
	@apply absolute top-[12%] left-1/2 transform -translate-x-1/2 w-auto max-h-[60%] max-w-[95%] opacity-0;
}

.features-carousel__item-content {
	@apply absolute bottom-[18px] left-8 max-w-[calc(100%-4rem)];
}

.features-carousel__item-title {
	@apply text-[18px] font-medium leading-[1.333];
}

.features-carousel__item-text {
	@apply h-0 overflow-hidden opacity-0 text-gray-200 text-[12px] leading-[1.5];
}

.features-carousel__item-cta {
	@apply absolute top-3 right-8 rotate-180 origin-center rounded-[50%] w-[42px] h-[42px];
	transition: transform 0.42s var(--ease-power4);

	&::before {
		@apply absolute top-0 left-0 w-full h-full rounded-[50%] opacity-0 pointer-events-none;
		background: linear-gradient(98deg, #f58e8e -3.37%, #b57487 100%);
		content: "";
		transition: opacity 0.42s var(--ease-power4);
	}
}

.features-carousel__timer {
	@apply invisible opacity-0;
}

.features-carousel__progress {
	@apply w-[64%] mx-auto relative h-1 rounded-lg border border-white border-opacity-30;
}

.features-carousel__progress-bar {
	@apply absolute top-0 left-0 w-full h-full rounded-lg scale-x-0;
	background: var(--primary-gradient);
	transform-origin: left center;
}

@media screen and (max-width: 767px) {
	.features-carousel__container {
		aspect-ratio: 1/1;
	}

	.features-carousel__item {
		@apply absolute top-0 left-full w-full h-auto;
		aspect-ratio: 1/1;
	}

	.features-carousel__item-content {
		@apply bottom-[28px] left-4 max-w-[calc(100%-4rem)];
	}
}
