.footer {
	@apply relative;
}

.footer__main-content {
	@apply w-full bg-gray-800 relative border-t border-t-white border-opacity-35 py-11 lg:py-12 z-[2];
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
}

.footer__shape-bg {
	@apply hidden lg:block z-[1] absolute bottom-[80%] left-0 w-full h-full pointer-events-none overflow-hidden;
	svg {
		@apply w-full h-auto;
	}
}

.footer__container {
	@apply flex-col z-[2];
}

.footer__body {
	@apply w-full flex items-start md:justify-between mb-12 flex-col md:flex-row lg:mb-32;
}

.footer__main {
	@apply flex flex-col w-full md:w-auto md:flex-row;
}

.footer__head {
	@apply mb-9 md:mb-0 md:mr-12;
}

.footer__logo {
	@apply mb-7 md:mb-9;
	svg {
		@apply h-16 w-auto;
	}
}

.footer__claim {
	@apply mb-5;
}

.footer__data {
	@apply max-w-[310px];
}

.footer__links-group {
	@apply mb-14 md:mb-0;
}

.footer__links {
	@apply flex flex-col;
}

.footer__item {
	&:not(:last-child) {
		@apply mb-5;
	}
}

.footer__social-label {
	@apply mb-5 font-semibold;
}

.footer__social-links {
	@apply flex items-center justify-end gap-x-5;
}

.footer__social-link {
	svg {
		@apply h-5 w-auto;
	}
}

.footer__end {
	@apply flex justify-between border-t border-t-white border-opacity-20 pt-5 flex-col md:items-end md:flex-row md:pt-0 md:border-none;
}

.footer__end-side {
	@apply flex justify-between md:items-end md:justify-end;
}

.footer__end-text {
	@apply mb-4 md:mb-0;
}

.footer__end-links {
	@apply flex items-center flex-wrap gap-x-8 mr-14;
}

.footer__end-link {
	&.iubenda-embed {
		&:not(.no-brand):not(.iubenda-nostyle) {
			@apply !font-sans !text-white !p-0 !font-normal !text-[14px] lg:!text-[16px] !leading-[1.25];
			background-image: none !important;
			background: none !important;
			padding-left: 0 !important;
		}
	}
}

.footer__scrolltop {
	@apply w-11 h-11 items-center justify-center rounded-[50%] border border-white border-opacity-35 hidden sm:flex;
	background: var(--secondary-gradient);
	svg {
		@apply w-5 h-auto opacity-60;
	}
}
