.hero {
	@apply w-full relative;
}

.hero__container {
	@apply relative max-w-[1192px] items-center justify-between z-[2];
}

.hero__post-preview {
	@apply relative overflow-hidden hidden mb-4 md:flex lg:mb-8;
}

.hero__title {
	@apply mb-4 2xl:mb-6;
}

.hero__subtitle {
	@apply mb-7 2xl:mb-10 text-gray-200;
}

.hero__ctas {
	@apply flex flex-col md:flex-row items-center md:gap-x-7;
}

.hero--home {
	@apply pt-[calc(var(--v-height)*0.24)] 2xl:pt-[calc(var(--v-height)*0.3006)] mb-24 md:mb-[calc(var(--v-width)*0.2)];

	.hero__container {
		@apply flex-col items-start lg:flex-row lg:items-center;
	}

	.hero__content {
		@apply w-full md:w-auto mb-8 lg:mb-0;
	}

	.hero__recap {
		@apply w-full relative overflow-hidden lg:w-auto lg:overflow-initial;
	}

	.hero__ill {
		@apply absolute top-0 left-0 w-full pointer-events-none overflow-hidden opacity-70;
		svg {
			@apply relative w-[96%] mx-auto h-auto;
			/* Svg width == Svg height == 96% of viewport width, minus 0.35 * viewport width */
			top: calc((var(--v-width) * 0.61) - (var(--v-width) * 0.96));
		}
	}

	.hero__title {
		@apply text-[32px] md:text-[46px] leading-[1.173];
		.t-grad:last-of-type {
			.word {
				@apply md:!ml-3 !ml-0;
			}
		}
	}

	.hero__subtitle {
		@apply text-[18px] leading-[1.333] max-w-[544px];
	}
}

.hero--company {
	@apply pt-64 mb-[calc(var(--v-width)*0.417724)];

	.hero__subtitle {
		@apply max-w-[666px] mb-0;
	}

	.hero__bg {
		@apply absolute top-[60%] left-0 w-full pointer-events-none;
		img {
			@apply relative block w-full h-auto;
		}
	}

	.hero__ill {
		@apply absolute top-[calc(var(--v-width)*0.24)] xl:top-[calc(var(--v-width)*0.12)] left-0 w-full pointer-events-none overflow-hidden;
		svg {
			@apply relative block w-[105.77%] h-auto;
			margin-left: -48px;
			/* 1512x934 => aspect ratio 1/0.617724 */
		}
	}
}

.hero--contact {
	@apply pt-52 mb-44 lg:pt-72 lg:mb-64;
	.hero__subtitle {
		@apply max-w-[482px] mb-0;
	}

	.hero__form {
		@apply w-[50%] xl:w-[558px];
	}

	.hero__ill {
		@apply absolute top-0 left-0 w-full h-[var(--v-height)] pointer-events-none overflow-hidden z-[1];
	}

	.hero__bg {
		@apply absolute w-[54.3%];
		aspect-ratio: 1 / 0.741;
		background: radial-gradient(
			48.73% 48.73% at 50% 58.81%,
			rgba(245, 142, 142, 0.25) 0%,
			rgba(127, 150, 255, 0) 88.5%
		);
		&:first-child {
			@apply top-[14%] -left-[28%];
		}

		&:last-child {
			@apply top-[14%] left-[82%];
		}
	}
}

.hero--center {
	@apply pt-[calc(var(--v-height)*0.24)] mb-[calc(var(--v-width)*0.135)];
	.hero__container {
		@apply flex-col justify-center items-center;
	}

	.hero__divider {
		@apply mb-5;
	}

	.hero__title {
		@apply text-center mb-4 text-[36px] md:text-[54px];
		.t-grad {
			.word {
				@apply !ml-0;
			}
		}
	}

	.hero__subtitle {
		@apply text-[18px] md:text-[24px] max-w-[620px] text-center leading-[1.333] text-gray-200 mb-16 xl:mb-44;
		strong {
			@apply text-white;
		}
	}

	.hero__ill {
		@apply absolute top-[40%] md:top-0 left-0 w-full pointer-events-none overflow-hidden md:overflow-initial;
		svg {
			@apply w-[130%] ml-[-15%] md:mx-auto md:w-full h-auto aspect-square;
		}
	}

	.hero__media {
		@apply relative;
	}

	.hero__img {
		@apply block relative mx-auto max-w-full md:max-w-[90%] xl:max-w-[1100px] h-auto z-[2];
	}

	.hero__img-ill {
		@apply absolute top-1/2 left-0 w-full -translate-y-1/2 pointer-events-none;
		svg {
			@apply w-full h-auto;
		}
	}

	&.is-business {
		.hero__subtitle {
			@apply mb-12;
		}
	}
}

@media screen and (min-width: 1600px) {
	.hero--company {
		.hero__ill {
			@apply top-0;
		}
	}
}

@media screen and (max-width: 1023px) {
	.hero--home {
		.hero__ill {
			svg {
				@apply w-[150%] -ml-[25%];
			}
		}
	}

	.hero--company {
		@apply mb-20 pt-44;

		.hero__container {
			@apply w-full;
		}

		.hero__content {
			@apply w-[92.6%] mx-auto;
		}

		.hero__subtitle {
			@apply max-w-[85%];
		}

		.hero__ill {
			@apply relative -top-[96px] left-auto;
			svg {
				@apply w-full ml-0;
			}
		}
	}

	.hero--contact {
		.hero__container {
			@apply flex-col justify-start items-start;
		}

		.hero__content {
			@apply mb-14;
		}

		.hero__form {
			@apply w-full;
		}
	}
}

@media screen and (max-width: 767px) {
	.hero__ctas {
		.button {
			@apply w-full;
			&:not(:last-child) {
				@apply mb-4;
			}
		}
	}
}
