.model-card {
	@apply w-full relative rounded-2xl h-full border border-white border-opacity-30 text-center py-10 px-8;
	background: var(--secondary-gradient);
}

.model-card__logo {
	@apply mb-9;
	svg {
		@apply w-[88px] h-auto block mx-auto;
	}
}

.model-card__title {
	@apply text-[24px] leading-[1.16667] font-medium mb-4;
}

.model-card--rag {
	box-shadow:
		0px 0px 9px rgba(242, 122, 121, 0.6),
		0px 4px 4px rgba(0, 0, 0, 0.25);
	.model-card__logo,
	.model-card__title {
		@apply text-pink;
	}
}

.model-card--json {
	box-shadow:
		0px 0px 9px rgba(242, 211, 152, 0.6),
		0px 4px 4px rgba(0, 0, 0, 0.25);
	.model-card__logo,
	.model-card__title {
		@apply text-caramel;
	}
}

.model-card--sum {
	box-shadow:
		0px 0px 9px rgba(251, 179, 94, 0.6),
		0px 4px 4px rgba(0, 0, 0, 0.25);
	.model-card__logo,
	.model-card__title {
		@apply text-orange;
	}
}
