.nav {
	@apply fixed top-0 left-0 w-full pt-5 pb-6 lg:pt-10 lg:pb-7 z-[var(--z-nav)];

	&::before {
		content: "";
		@apply absolute top-0 left-0 w-full h-full pointer-events-none z-[1];
		background: linear-gradient(
			180deg,
			rgba(40, 41, 45, 0.2) 50%,
			rgba(40, 41, 45, 0) 140.73%
		);
		backdrop-filter: blur(2px);
		transition: opacity 0.4s var(--ease-power4);
	}
}

.nav__container {
	@apply justify-between items-center z-[2];
	transition:
		transform 0.4s var(--ease-power4),
		opacity 0.4s var(--ease-power4);
}

.nav__logo {
	svg {
		@apply w-auto h-[54px];
	}
}

.nav__items {
	@apply hidden lg:flex justify-center items-center py-2 px-4 gap-x-3 rounded-3xl border border-white border-opacity-20 bg-gray-800;
}

.nav__link {
	@apply relative flex py-3 px-4 rounded-3xl border-b border-b-gray-800;
	transition: border-color 0.4s var(--ease-power4);

	&::after {
		content: "";
		@apply absolute left-0 top-0 w-full h-full opacity-0 rounded-3xl;
		background: var(--secondary-gradient);
		transition: opacity 0.4s var(--ease-power4);
	}

	&.is-active {
		@apply border-b-pink;
		&::after {
			@apply opacity-100;
		}
	}
}

.nav__link-inner {
	@apply relative z-[2];
}

.nav__ctas {
	@apply hidden lg:flex items-center gap-x-5;
}

.nav__side-link {
	@apply relative flex items-center gap-x-2;
}

.nav__side-text {
	font-size: 16px;
}

.nav__side-icon {
	@apply w-4 h-4;
}

.nav__toggle {
	@apply flex lg:hidden w-14 h-14 rounded-2xl border border-white border-opacity-30 relative cursor-pointer items-center justify-center;
	background: var(--secondary-gradient);

	span {
		@apply absolute left-[14px] w-7 h-[2px] bg-white;
		transition: transform 0.42s var(--ease-power4);
		&:first-child {
			@apply top-[22px];
		}
		&:last-child {
			@apply bottom-[22px];
		}
	}
}

.is-scrolling-down {
	&:not(.is-nav-open) {
		.nav {
			@apply pointer-events-none;
			&::before {
				@apply opacity-0;
			}
		}

		.nav__container {
			@apply transform -translate-y-20 opacity-0;
		}
	}
}

.is-nav-open {
	.nav__toggle {
		span {
			&:first-child {
				transform: rotate(-45deg) translateY(2px) translateX(-3px);
			}
			&:last-child {
				transform: rotate(45deg) translateY(-2px) translateX(-3px);
			}
		}
	}
}

.nav-mobile {
	@apply lg:hidden block fixed top-0 left-0 w-full h-full z-[20];
	/* @apply invisible pointer-events-none z-[-1]; */
}

.nav-mobile__container {
	@apply flex flex-col justify-between h-full relative px-[3.7%] pb-9 z-[2];
}

.nav-mobile__bg {
	@apply absolute inset-0 pointer-events-none z-[1];
	background: radial-gradient(
			244.86% 100% at 50% 100%,
			rgba(245, 142, 142, 0.45) 0%,
			rgba(127, 150, 255, 0) 88.5%
		),
		var(--gray-800, #28292d);
}

.nav-mobile__links {
	@apply flex flex-col pt-6 xs:pt-0;
}

.nav-mobile__item {
	@apply relative overflow-hidden;
	&:not(:last-child) {
		@apply mb-4 xs:mb-8;
	}
}

.nav-mobile__link {
	@apply block text-[24px] xs:text-[32px] font-medium leading-[1.125] tracking-[0.5px];
}

.nav-mobile__end {
	@apply relative flex flex-col gap-y-3 overflow-hidden;
	.button {
		@apply w-full;
	}
}

@media (hover: hover) {
	.nav__link:hover {
		@apply border-b-pink;
		&::after {
			@apply opacity-100;
		}
	}
}
