.platform {
	@apply mb-40;
}

.platform__label {
	@apply mb-5 md:mb-7;
}

.platform__title {
	@apply text-center mb-11 md:mb-16;
}

.platform__container {
	@apply max-w-[1200px] flex-wrap z-[2];
}

.platform__items {
	@apply relative;
}

.platform__ill {
	@apply w-full absolute top-[97%] lg:top-[90%] overflow-hidden pointer-events-none z-[1];
	svg {
		@apply w-full h-auto;
	}
}

.platform__bg {
	@apply absolute inset-0 pointer-events-none z-[1];
	background: radial-gradient(
		42.82% 47.15% at 59.52% 61.06%,
		rgba(245, 142, 142, 0.18) 0%,
		rgba(127, 150, 255, 0) 88.5%
	);
}

.platform__cta {
	@apply flex justify-center items-center relative mt-5 lg:mt-11 z-[2];
}

.platform__card {
	@apply relative flex flex-col justify-between border border-white border-opacity-40 rounded-3xl pt-12 pb-7 px-6 bg-gray-800 overflow-hidden h-[calc(var(--v-height)*0.6537)] max-h-[642px] mb-10;

	&::before {
		content: "";
		@apply absolute inset-0 rounded-3xl pointer-events-none z-[0];
		background: var(--secondary-gradient);
	}

	&:first-child,
	&:nth-child(4),
	&:nth-child(5) {
		@apply w-[55.8%];

		.platform__card-desc {
			@apply max-w-[317px];
		}
	}

	&:first-child,
	&:nth-child(3),
	&:nth-child(5) {
		@apply mr-[3.3%];
	}

	&:nth-child(2),
	&:nth-child(3),
	&:last-child {
		@apply w-[40.9%];
	}
}

.platform__card-content {
	@apply relative z-[1];
}

.platform__card-icon {
	@apply w-12 h-12 rounded-[50%] flex items-center justify-center border border-white border-opacity-40 mb-5;
	background: linear-gradient(
			125.14deg,
			#23211f 0%,
			rgba(36, 36, 35, 0.7) 20.35%,
			#262625 53.6%,
			rgba(55, 55, 55, 0.78) 79.91%,
			#23211f 95.79%
		),
		#28292d;

	svg {
		@apply w-6 h-auto;
	}
}

.platform__card-title {
	@apply text-[24px] font-medium mb-4 leading-[1.166667];
}

.platform__card-desc {
	@apply text-[16px] leading-[1.25] text-gray-200;
}

.platform__card-scene {
	@apply relative w-full h-[57.632%] overflow-hidden rounded-3xl z-[1];
	background: radial-gradient(
		249.84% 249.84% at 50% 100%,
		rgba(245, 142, 142, 0.65) 0%,
		rgba(127, 150, 255, 0) 88.5%
	);
}

.platform__card-ill {
	@apply absolute;
	svg {
		@apply w-full h-auto;
	}
}

.platform__card-ill--experiment {
	@apply top-[5%] left-[5%] w-[90%];
}
