.platform {
	@apply mb-40;
}

.platform__label {
	@apply mb-5 md:mb-7;
}

.platform__title {
	@apply text-center mb-11 md:mb-16;
}

.platform__container {
	@apply max-w-[1200px] flex-wrap z-[2];
}

.platform__items {
	@apply relative;
}

.platform__ill {
	@apply w-full absolute top-[97%] lg:top-[90%] overflow-hidden pointer-events-none z-[1];
	svg {
		@apply w-full h-auto;
	}
}

.platform__bg {
	@apply absolute inset-0 pointer-events-none z-[1];
	background: radial-gradient(
		42.82% 47.15% at 59.52% 61.06%,
		rgba(245, 142, 142, 0.18) 0%,
		rgba(127, 150, 255, 0) 88.5%
	);
}

.platform__card {
	@apply relative border border-white border-opacity-40 rounded-3xl bg-gray-800;

	&::before {
		content: "";
		@apply absolute inset-0 rounded-3xl pointer-events-none;
		background: var(--secondary-gradient);
	}

	&:first-child {
		.platform__card-content {
			@apply left-[52px] max-w-[320px];
		}
	}

	&:nth-child(4) {
		.platform__card-content {
			@apply right-[52px] max-w-[400px];
		}
	}

	&:first-child,
	&:nth-child(4) {
		@apply w-full;
		aspect-ratio: 1 / 0.475;

		.platform__card-content {
			@apply bottom-11;
		}
	}

	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(5),
	&:last-child {
		@apply w-[48.5%];
		aspect-ratio: 1 / 1.0431;

		.platform__card-content {
			@apply bottom-11 left-[52px] w-[74%];
		}
	}

	&:nth-child(2),
	&:nth-child(5) {
		@apply mr-[3%];
	}

	&:not(:last-child),
	&:not(:nth-child(5)) {
		@apply mb-10;
	}
}

.platform__card-content {
	@apply absolute z-[2];
}

.platform__card-title {
	@apply mb-5;
}

.platform__card__description {
	@apply text-gray-200;
}

@media screen and (max-width: 960px) {
	.platform__card {
		@apply !w-full !aspect-[1/1.157];

		&:not(:last-child) {
			@apply !mb-4;
		}

		&:nth-child(2),
		&:nth-child(5) {
			@apply mr-0;
		}

		.platform__card-content {
			@apply !bottom-6 !left-6 w-[90%];
		}
	}
}

@media screen and (max-width: 450px) {
	.platform__card {
		@apply !aspect-[1/1.35];
	}
}
