.services__section {
	@apply mb-40 text-center;
}

.services__title {
	@apply mb-5 md:mb-9;
}

.services__text {
	@apply max-w-[527px] mx-auto text-gray-200 mb-12 md:mb-24;
}

.services {
	@apply flex max-w-[95%] lg:max-w-[948px] mx-auto flex-wrap;
}

.services__item {
	@apply relative flex flex-col justify-end items-start text-left p-9 w-full md:w-[49%] mb-4 md:mb-10 aspect-[1/0.66299] rounded-2xl border border-white border-opacity-30 bg-gray-800;
	&:not(:nth-child(2n)) {
		@apply md:mr-[2%];
	}

	&::after {
		content: "";
		@apply absolute inset-0 rounded-2xl pointer-events-none z-[1];
	}

	&:first-child {
		&::after {
			background: radial-gradient(
				126.55% 130.09% at 51.91% 110%,
				rgba(245, 142, 142, 0.3) 12%,
				rgba(127, 150, 255, 0) 88.5%
			);
		}
	}

	&:nth-child(2) {
		&::after {
			background: radial-gradient(
				203.23% 67.65% at 88.19% 60%,
				rgba(245, 142, 142, 0.4) 0%,
				rgba(127, 150, 255, 0) 79.5%
			);
		}
	}

	&:nth-child(3) {
		&::after {
			background: radial-gradient(
				157.69% 90.06% at -20% 20%,
				rgba(245, 142, 142, 0.4) 10%,
				rgba(127, 150, 255, 0) 79.5%
			);
		}
	}

	&:last-child {
		&::after {
			background: radial-gradient(
				155.16% 64.07% at 9.91% 0%,
				rgba(245, 142, 142, 0.35) 20%,
				rgba(127, 150, 255, 0) 95.5%
			);
		}
	}
}

.services__item-title {
	@apply mb-4 font-medium relative z-[2];
}

.services__item-text {
	@apply text-gray-200 relative z-[2];
}
