.status {
	@apply w-[95%] max-w-[1200px] mx-auto rounded-2xl relative overflow-hidden border border-white border-opacity-30 flex flex-col items-center mb-24 py-12 md:py-14 md:pl-8 md:flex-row lg:mb-44 lg:py-36 lg:pl-16;
	background: var(--secondary-gradient);

	/* &::before {
		content: "";
		@apply absolute inset-0 rounded-2xl pointer-events-none;

		background: radial-gradient(
			404.28% 106.25% at 98.38% 100%,
			rgba(245, 142, 142, 0.45) 0%,
			rgba(127, 150, 255, 0) 88.5%
		);
	} */
}

.status__content {
	@apply w-[90%] md:w-[44%] order-2 md:max-w-[416px] md:order-1 relative z-[2];
}

.status__title {
	@apply text-[28px] lg:text-[48px] font-medium leading-[1.125] mb-5;
}

.status__text {
	@apply text-gray-200 mb-8 lg:mb-10;
}

.status__ill {
	@apply relative order-1 md:order-2 w-[98%] pointer-events-none md:absolute md:left-auto md:top-auto md:w-[45%] md:right-[5%] md:bottom-[5%];
}

.status__ill-inner {
	@apply relative;
}

.status__ill-desk {
	@apply hidden md:block w-full h-auto;
}

.status__ill-mobile {
	@apply w-full h-auto md:hidden block;
}
