.team__section {
	@apply mb-24 sm:mb-72;
}

.team__container {
	@apply flex-col max-w-[1366px];
}

.team__title {
	@apply text-center mb-6;
}

.team__text {
	@apply max-w-[650px] text-center mx-auto mb-20 lg:mb-24;
}

.team__members {
	@apply w-full flex flex-wrap items-stretch;
}

.team__card {
	@apply relative w-[24%] mb-6 rounded-2xl border border-white border-opacity-35 p-4;
	background: var(--secondary-gradient);
	&:not(:nth-child(4n)) {
		@apply mr-[1.333%];
	}
	&:nth-last-child(-n + 4) {
		@apply mb-0;
	}

	&[data-index="2"] {
		@apply top-16;
	}

	&[data-index="3"] {
		@apply top-6;
	}

	&[data-index="4"] {
		@apply top-10;
	}
}

.team__card__image-wrap {
	@apply w-full relative rounded-lg mb-5;
	aspect-ratio: 1 / 0.899;
}

.team__card__image {
	@apply absolute inset-0 w-full h-full object-cover rounded-lg;
}

.team__card__title {
	@apply mb-2 font-medium;
}

@media screen and (max-width: 960px) {
	.team__card {
		@apply w-[48%] mb-6;
		&:not(:nth-child(4n)) {
			@apply mr-0;
		}

		&:not(:nth-child(2n)) {
			@apply mr-[4%];
		}

		&:nth-last-child(-n + 4) {
			@apply mb-6;
		}

		&:nth-last-child(-n + 2) {
			@apply mb-0;
		}

		&[data-index="2"] {
			@apply top-auto;
		}

		&[data-index="3"] {
			@apply top-auto;
		}

		&[data-index="4"] {
			@apply top-auto;
		}
	}
}

@media screen and (max-width: 640px) {
	.team__container {
		@apply w-full;
	}

	.team__title,
	.team__text {
		@apply max-w-[92.6%] mx-auto;
	}

	.team__members {
		flex-wrap: nowrap;
		flex-direction: row;
		scroll-snap-type: x mandatory;
		scroll-padding: 0 24px;
		padding: 0 24px;
		overflow-x: scroll;
		overflow-y: hidden;
		justify-content: flex-start;
		-webkit-overflow-scrolling: touch;

		-ms-overflow-style: none;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.team__card {
		width: 292px;
		min-width: 292px;
		scroll-snap-align: start;
		margin-right: 24px;

		&:not(:nth-child(2n)),
		&:not(:nth-child(4n)) {
			@apply mr-6;
		}
	}
}
