.testimonials {
	@apply w-full relative py-[calc(var(--v-width)*0.25)] mb-28;
}

.testimonials__ill {
	@apply absolute top-1/2 left-0 w-full -translate-y-1/2 overflow-hidden opacity-45;
	svg {
		@apply w-[160%] -ml-[30%] h-auto lg:ml-auto lg:w-full;
	}
}

.testimonials__container {
	@apply flex-col max-w-[900px] z-[2];
}

.testimonials__head {
	@apply mb-10 2xl:mb-20 text-center;
}

.testimonials__label {
	@apply mb-8;
}

.testimonials__title {
	@apply mb-6;
}

.testimonials__text {
	@apply w-[92.6%] max-w-[594px] mx-auto text-gray-200;
}

.testimonials__stack {
	@apply w-full relative h-[calc(var(--v-height)*0.38)] overflow-hidden lg:p-0 lg:overflow-visible;
}

.testimonial__card {
	@apply absolute top-0 left-0 w-full h-[95%] lg:h-full rounded-2xl flex flex-col justify-between py-6 px-5 sm:py-10 sm:px-8 border border-white border-opacity-30;
	background: var(--secondary-gradient);

	&:nth-child(2) {
		@apply top-0 lg:top-2;
	}
	&:nth-child(3) {
		@apply top-0 lg:top-4;
	}
	&:nth-child(4) {
		@apply top-0 lg:top-6;
	}
	&:nth-child(5) {
		@apply top-0 lg:top-8;
	}
}

.testimonial__card__body {
	@apply mb-4;
}

.testimonial__card__text {
	@apply font-normal text-[16px] lg:text-[20px] 2xl:text-[28px];
}

.testimonial__card__end__inner {
	@apply w-full flex items-center justify-between pt-4;
}

.testimonial__card__author {
	@apply flex items-center max-w-[80%];
}

.testimonial__card__author__avatar {
	@apply w-11 h-11 rounded-[50%] border border-white border-opacity-30 flex items-center justify-center sm:w-14 sm:h-14;
	background: var(--secondary-gradient);
}

.testimonial__card__author__letter {
	@apply text-gray-200 text-[16px] font-normal leading-[1.09] sm:text-[22px];
}

.testimonial__card__author__content {
	@apply ml-4;
}

.testimonial__card__author__title {
	@apply text-white text-[20px] font-medium leading-[1.27] tracking-[0.2px] mb-1 sm:text-[22px];
}

.testimonial__card__author__subtitle {
	@apply text-gray-200 font-medium text-[14px] leading-[1.285];
}

.testimonial__card__author__logo {
	img,
	svg {
		@apply max-w-[60px] h-auto sm:max-w-[100px];
	}
}

.testimonials__carousel-nav {
	@apply flex items-center justify-center mt-8 gap-x-4 lg:hidden;
}

.testimonials__carousel-nav-item {
	@apply w-11 h-11 rounded-[50%] border border-white border-opacity-30 flex items-center justify-center cursor-pointer;
	background: var(--secondary-gradient);
}

@media screen and (max-width: 340px) {
	.testimonials {
		@apply pb-0;
	}

	.testimonials__stack {
		@apply h-[calc(var(--v-height)*0.48)];
	}

	.testimonial__card__author__content {
		@apply ml-1;
	}

	.testimonial__card__author__title {
		@apply text-[14px] mb-0;
	}

	.testimonial__card__author__subtitle {
		@apply text-[12px];
	}

	.testimonials__carousel-nav {
		@apply mt-2;
	}
}
