.l-container {
	@apply flex w-[92.6%] mx-auto relative;
}

.l-container--wrap {
	@apply flex-wrap;
}

.l-container--col {
	@apply flex-col;
}

.l-px {
	@apply px-[3.7%];
}

.l-divider {
	@apply w-full;
	svg {
		@apply w-[92.5%] lg:w-full max-w-[960px] h-auto block mx-auto;
	}
}

.page__wrap {
	@apply flex flex-col min-h-full;
}

.page__container {
	@apply min-h-full flex flex-col;
}

.page {
	@apply relative z-[2];
	flex: 1 0 auto;
}

.bg-secondary-gradient {
	background: var(--secondary-gradient);
}

.lazy-el {
	opacity: 0;
	&:not(.initial) {
		transition: opacity 1s ease-in-out;
	}

	&.initial,
	&.is-lazy-loaded,
	&.is-lazy-error {
		opacity: 1;
	}
}
