.l-container {
	@apply flex w-[92.6%] mx-auto relative;
}

.l-container--wrap {
	@apply flex-wrap;
}

.l-container--col {
	@apply flex-col;
}

.l-px {
	@apply px-[3.7%];
}

.l-divider {
	@apply w-full;
	svg {
		@apply w-[92.5%] lg:w-full max-w-[960px] h-auto block mx-auto;
	}
}

.page__wrap {
	@apply flex flex-col h-full;
}

.page__container {
	@apply min-h-full flex flex-col;
}

.page {
	@apply relative z-[2];
	flex: 1 0 auto;
}

.js-lazy-el {
	opacity: 0 !important;
	transition: opacity 0.42s ease-in-out;

	&[data-loaded="true"] {
		opacity: 1 !important;
	}
}
