/* Font face declarations */
@font-face {
	font-family: "Space Grotesk";
	src:
		url("/styles/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
		url("/styles/fonts/SpaceGrotesk-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src:
		url("/styles/fonts/SpaceGrotesk-SemiBold.woff2") format("woff2"),
		url("/styles/fonts/SpaceGrotesk-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Space Grotesk";
	src:
		url("/styles/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
		url("/styles/fonts/SpaceGrotesk-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Typographic scale */
h1,
.h1 {
	@apply text-[32px] md:text-[48px] xl:text-[76px] font-medium leading-[1.05263] tracking-[0.5px];
}

h2,
.h2 {
	@apply text-[28px] md:text-[48px] xl:text-[64px] font-medium leading-[1.25];
}

h3,
.h3 {
	@apply text-[22px] xl:text-[28px] font-medium leading-[1.1428];
}

h4,
.h4 {
	@apply text-[16px] lg:text-[18px] xl:text-[24px] font-normal leading-[1.333];
}

h5,
.h5 {
	@apply text-[16px] xl:text-[20px] font-normal leading-[1.2];
}

p,
.p {
	@apply text-[14px] lg:text-[16px] leading-[1.25];
}

.p-sm {
	@apply text-[12px] leading-[1.5] xl:text-[14px];
}

/* Utilities */
.t-grad {
	@apply inline-block;
	background: linear-gradient(
		97deg,
		#7f96ff -3.51%,
		#f58e8e 62.67%,
		#f2d398 110.59%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	.word {
		@apply ml-3;
	}

	br + & {
		.word {
			@apply ml-0;
		}
	}
}
