<svg
	width="1512"
	height="2101"
	viewBox="0 0 1512 2101"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g opacity=".22" filter="url(#bg-ellipse-filter)">
		<circle cx="756" cy="945" r="756" fill="url(#bg-ellipse-grad)" />
	</g>
	<defs>
		<linearGradient
			id="bg-ellipse-grad"
			x1="-95.793"
			y1="468.074"
			x2="1819.65"
			y2="714.358"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#7F96FF" />
			<stop offset=".58" stop-color="#F58E8E" />
			<stop offset="1" stop-color="#F2D398" />
		</linearGradient>
		<filter
			id="bg-ellipse-filter"
			x="-400"
			y="-211"
			width="2312"
			height="2312"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="200"
				result="effect1_foregroundBlur_1458_15774"
			/>
		</filter>
	</defs>
</svg>
