<svg
	width="974"
	height="2"
	viewBox="0 0 974 2"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<mask id="path-1-inside-1_274_11694" fill="#fff">
		<path d="M0 0H974V2H0V0Z" />
	</mask>
	<path
		d="M974 1H0V3H974V1Z"
		fill="url(#paint0_linear_274_11694)"
		mask="url(#path-1-inside-1_274_11694)"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_274_11694"
			x1="0"
			y1="1"
			x2="974"
			y2="1"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity=".05" />
			<stop offset=".5" stop-color="#fff" stop-opacity=".2" />
			<stop offset="1" stop-color="#fff" stop-opacity=".05" />
		</linearGradient>
	</defs>
</svg>
