<svg
	width="1512"
	height="1029"
	viewBox="0 0 1512 1029"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<g opacity=".18" filter="url(#footer-ellipse-circle)">
		<ellipse
			cx="756"
			cy="714.5"
			rx="753"
			ry="314.5"
			fill="url(#paint0_linear_1367_6722)"
		/>
	</g>
	<defs>
		<linearGradient
			id="paint0_linear_1367_6722"
			x1="-92.413"
			y1="516.096"
			x2="1679.08"
			y2="1061.45"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#7F96FF" />
			<stop offset=".58" stop-color="#F58E8E" />
			<stop offset="1" stop-color="#F2D398" />
		</linearGradient>
		<filter
			id="footer-ellipse-circle"
			x="-397"
			y="0"
			width="2306"
			height="1429"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="200"
				result="effect1_foregroundBlur_1367_6722"
			/>
		</filter>
	</defs>
</svg>
