<svg
	width="1512"
	height="375"
	viewBox="0 0 1512 375"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<path
		transform="matrix(-.40353 .91497 -.14545 -.98937 430.5 52.748)"
		fill="url(#paint0_linear_750_4958)"
		d="M0 0H352.036V.555H0z"
	/>
	<path
		transform="matrix(.40353 .91497 .14545 -.98937 1072.5 52.197)"
		fill="url(#paint1_linear_750_4958)"
		d="M0 0H352.036V.555H0z"
	/>
	<path
		transform="matrix(-.57323 .8194 -.09228 -.99573 264.6 43.833)"
		fill="url(#paint2_linear_750_4958)"
		d="M0 0H378.77V.553H0z"
	/>
	<path
		transform="matrix(.57323 .8194 .09228 -.99573 1245.99 44.384)"
		fill="url(#paint3_linear_750_4958)"
		d="M0 0H378.77V.553H0z"
	/>
	<path
		transform="matrix(-.20894 .97793 -.29038 -.95691 633.15 1.095)"
		fill="url(#paint4_linear_750_4958)"
		d="M0 0H335.973V.569H0z"
	/>
	<path
		transform="matrix(.20894 .97793 .29038 -.95691 885.58 .544)"
		fill="url(#paint5_linear_750_4958)"
		d="M0 0H335.973V.569H0z"
	/>
	<path
		transform="rotate(-180 1512 240.951)"
		fill="#fff"
		fill-opacity=".3"
		d="M1512 240.951H3024V241.502H1512z"
	/>
	<path
		transform="rotate(-180 1512 307.101)"
		fill="#fff"
		fill-opacity=".3"
		d="M1512 307.101H3024V307.652H1512z"
	/>
	<path
		transform="rotate(-180 1512 278.751)"
		fill="#fff"
		fill-opacity=".3"
		d="M1512 278.751H3024V279.302H1512z"
	/>
	<path
		transform="rotate(-180 1512 125.235)"
		fill="#fff"
		fill-opacity=".3"
		d="M1512 125.235H3024V125.786H1512z"
	/>
	<path
		transform="rotate(-180 1512 55.255)"
		fill="#fff"
		fill-opacity=".25"
		d="M1512 55.255H3024V55.806H1512z"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_750_4958"
			x1="352.13"
			y1="-.206"
			x2=".009"
			y2="13.162"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint1_linear_750_4958"
			x1="352.13"
			y1="-.206"
			x2=".009"
			y2="13.162"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint2_linear_750_4958"
			x1="378.871"
			y1="-.205"
			x2=".102"
			y2="15.339"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint3_linear_750_4958"
			x1="378.871"
			y1="-.205"
			x2=".102"
			y2="15.339"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint4_linear_750_4958"
			x1="336.063"
			y1="-.211"
			x2="-.055"
			y2="11.681"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint5_linear_750_4958"
			x1="336.063"
			y1="-.211"
			x2="-.055"
			y2="11.681"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset="0" stop-opacity="0" />
			<stop offset=".476" stop-color="#fff" stop-opacity=".6" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
