<svg
	width="489"
	height="489"
	viewBox="0 0 489 489"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<circle
		cx="244.41"
		cy="244.41"
		r="229.573"
		transform="rotate(-93.692 244.41 244.41)"
		stroke="url(#paint0_linear_772_5351)"
	/>
	<circle
		cx="243.858"
		cy="244.302"
		r="199.349"
		transform="rotate(-93.692 243.858 244.302)"
		stroke="url(#paint1_linear_772_5351)"
	/>
	<circle
		cx="243.637"
		cy="243.637"
		r="155.421"
		transform="rotate(-93.692 243.637 243.637)"
		stroke="url(#paint2_linear_772_5351)"
	/>
	<circle cx="154" cy="117" r="9" fill="url(#paint3_linear_772_5351)" />
	<circle cx="44" cy="224" r="9" fill="url(#paint4_linear_772_5351)" />
	<circle cx="104" cy="426" r="9" fill="url(#paint5_linear_772_5351)" />
	<defs>
		<linearGradient
			id="paint0_linear_772_5351"
			x1="474.483"
			y1="474.483"
			x2="-65.325"
			y2="344.067"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint1_linear_772_5351"
			x1="443.707"
			y1="444.151"
			x2="-25.188"
			y2="330.868"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint2_linear_772_5351"
			x1="399.558"
			y1="399.558"
			x2="33.729"
			y2="311.175"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint3_linear_772_5351"
			x1="154"
			y1="108"
			x2="154"
			y2="126"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity=".4" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".8" />
		</linearGradient>
		<linearGradient
			id="paint4_linear_772_5351"
			x1="44"
			y1="215"
			x2="44"
			y2="233"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity=".4" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".8" />
		</linearGradient>
		<linearGradient
			id="paint5_linear_772_5351"
			x1="104"
			y1="417"
			x2="104"
			y2="435"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity=".4" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".8" />
		</linearGradient>
	</defs>
</svg>
