<svg
	width="567"
	height="567"
	viewBox="0 0 567 567"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	role="img"
>
	<g filter="url(#filter0_d_2230_3150)">
		<path
			d="M283.5 511C222.643 511 164.278 486.828 121.24 443.801C78.2019 400.774 54.0152 342.415 54 281.558C53.9848 220.701 78.1411 162.329 121.158 119.28C164.174 76.2314 222.527 52.0305 283.384 52C344.242 51.9696 402.62 76.1121 445.68 119.118C488.739 162.123 512.954 220.471 513 281.328C513.046 342.186 488.918 400.569 445.923 443.639C402.928 486.71 344.587 510.939 283.729 511H283.5Z"
			fill="#fff"
		/>
	</g>
	<circle cx="280.5" cy="281.5" r="229" fill="#28292D" />
	<circle cx="280.5" cy="281.5" r="229" fill="url(#paint0_linear_2230_3150)" />
	<circle
		cx="280.5"
		cy="281.5"
		r="229"
		stroke="url(#paint1_linear_2230_3150)"
	/>
	<g style="mix-blend-mode: multiply">
		<g filter="url(#filter1_f_2230_3150)">
			<circle cx="278.202" cy="280.93" r="116.731" fill="#25071D" />
		</g>
		<g filter="url(#filter2_f_2230_3150)">
			<circle cx="278.203" cy="280.929" r="89.494" fill="#2B1C2F" />
			<circle cx="278.203" cy="280.929" r="88.994" stroke="#fff" />
		</g>
		<g
			style="mix-blend-mode: hard-light"
			opacity=".8"
			filter="url(#filter3_f_2230_3150)"
		>
			<path
				d="M280.929 152L315.751 246.106L409.857 280.929L315.751 315.751L280.929 409.857L246.106 315.751L152 280.929L246.106 246.106L280.929 152Z"
				fill="#fff"
			/>
		</g>
		<circle
			cx="278.203"
			cy="280.929"
			r="68.51"
			fill="url(#paint2_linear_2230_3150)"
			style="mix-blend-mode: difference"
			opacity=".3"
		/>
		<g filter="url(#filter4_f_2230_3150)">
			<circle cx="278.202" cy="280.929" r="28.474" fill="#131112" />
		</g>
	</g>
	<g style="mix-blend-mode: exclusion">
		<g filter="url(#filter5_f_2230_3150)">
			<circle cx="278.202" cy="280.93" r="116.731" fill="#25071D" />
		</g>
		<g filter="url(#filter6_f_2230_3150)">
			<circle cx="278.203" cy="280.929" r="89.494" fill="#2B1C2F" />
			<circle cx="278.203" cy="280.929" r="88.994" stroke="#fff" />
		</g>
		<g
			style="mix-blend-mode: hard-light"
			opacity=".8"
			filter="url(#filter7_f_2230_3150)"
		>
			<path
				d="M280.929 152L315.751 246.106L409.857 280.929L315.751 315.751L280.929 409.857L246.106 315.751L152 280.929L246.106 246.106L280.929 152Z"
				fill="#fff"
			/>
		</g>
		<circle
			cx="278.203"
			cy="280.929"
			r="68.51"
			fill="url(#paint3_linear_2230_3150)"
			style="mix-blend-mode: difference"
			opacity=".3"
		/>
		<g filter="url(#filter8_f_2230_3150)">
			<circle cx="278.202" cy="280.929" r="28.474" fill="#131112" />
		</g>
	</g>
	<defs>
		<filter
			id="filter0_d_2230_3150"
			x="0"
			y="0"
			width="567"
			height="567"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feColorMatrix
				in="SourceAlpha"
				values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
				result="hardAlpha"
			/>
			<feOffset dy="2" />
			<feGaussianBlur stdDeviation="27" />
			<feComposite in2="hardAlpha" operator="out" />
			<feColorMatrix values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.3 0" />
			<feBlend in2="BackgroundImageFix" result="effect1_dropShadow_2230_3150" />
			<feBlend
				in="SourceGraphic"
				in2="effect1_dropShadow_2230_3150"
				result="shape"
			/>
		</filter>
		<filter
			id="filter1_f_2230_3150"
			x="97.471"
			y="100.199"
			width="361.462"
			height="361.462"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="32"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter2_f_2230_3150"
			x="175.709"
			y="178.436"
			width="204.987"
			height="204.988"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="6.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter3_f_2230_3150"
			x="131"
			y="131"
			width="299.857"
			height="299.857"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="10.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter4_f_2230_3150"
			x="236.729"
			y="239.455"
			width="82.947"
			height="82.948"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="6.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter5_f_2230_3150"
			x="97.471"
			y="100.199"
			width="361.462"
			height="361.462"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="32"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter6_f_2230_3150"
			x="175.709"
			y="178.436"
			width="204.987"
			height="204.988"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="6.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter7_f_2230_3150"
			x="131"
			y="131"
			width="299.857"
			height="299.857"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="10.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<filter
			id="filter8_f_2230_3150"
			x="236.729"
			y="239.455"
			width="82.947"
			height="82.948"
			filterUnits="userSpaceOnUse"
			color-interpolation-filters="sRGB"
		>
			<feFlood flood-opacity="0" result="BackgroundImageFix" />
			<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
			<feGaussianBlur
				stdDeviation="6.5"
				result="effect1_foregroundBlur_2230_3150"
			/>
		</filter>
		<linearGradient
			id="paint0_linear_2230_3150"
			x1="280.5"
			y1="52"
			x2="280.5"
			y2="511"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity="0" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".12" />
		</linearGradient>
		<linearGradient
			id="paint1_linear_2230_3150"
			x1="510"
			y1="511"
			x2="-28.463"
			y2="380.909"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint2_linear_2230_3150"
			x1="278.203"
			y1="212.419"
			x2="278.203"
			y2="349.44"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#1F0A20" />
			<stop offset="1" stop-color="#756279" />
		</linearGradient>
		<linearGradient
			id="paint3_linear_2230_3150"
			x1="278.203"
			y1="212.419"
			x2="278.203"
			y2="349.44"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#1F0A20" />
			<stop offset="1" stop-color="#756279" />
		</linearGradient>
	</defs>
</svg>
