<svg
	width="1450"
	height="1450"
	viewBox="0 0 1450 1450"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<circle
		opacity=".3"
		cx="725"
		cy="725"
		r="724.5"
		stroke="url(#paint0_linear_716_4144)"
		class="js-path-outer"
	/>
	<circle
		opacity=".3"
		cx="725"
		cy="724.999"
		r="563.964"
		stroke="url(#paint1_linear_716_4144)"
		class="js-path-middle"
	/>
	<g opacity=".6" class="js-path-inner">
		<circle
			cx="725"
			cy="725"
			r="465.571"
			fill="url(#paint2_linear_716_4144)"
			fill-opacity=".6"
		/>
		<circle cx="725" cy="725" r="465.571" fill="url(#paint3_radial_716_4144)" />
		<circle
			cx="725"
			cy="725"
			r="465.571"
			stroke="url(#paint4_linear_716_4144)"
		/>
	</g>

	<defs>
		<linearGradient
			id="paint0_linear_716_4144"
			x1="510.826"
			y1="499.518"
			x2="444.592"
			y2="40.457"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint1_linear_716_4144"
			x1="558.25"
			y1="549.446"
			x2="506.683"
			y2="192.034"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<linearGradient
			id="paint2_linear_716_4144"
			x1="725"
			y1="258.929"
			x2="725"
			y2="1191.07"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity="0" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".12" />
		</linearGradient>
		<linearGradient
			id="paint4_linear_716_4144"
			x1="587.317"
			y1="580.048"
			x2="544.738"
			y2="284.937"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
		<radialGradient
			id="paint3_radial_716_4144"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="matrix(0 -324.162 324.162 0 725 833.212)"
		>
			<stop stop-color="#F58E8E" stop-opacity=".45" />
			<stop offset=".885" stop-color="#7F96FF" stop-opacity="0" />
		</radialGradient>
	</defs>
</svg>
