<svg
	width="1512"
	height="1513"
	viewBox="0 0 1512 1513"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
>
	<circle
		cx="759.177"
		cy="755.57"
		r="361.687"
		transform="rotate(14.5 759.177 755.57)"
		stroke="url(#paint0_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="180 180"
		style="mix-blend-mode: overlay"
		opacity=".6"
	/>
	<circle
		cx="760.989"
		cy="755.284"
		r="567.695"
		transform="rotate(14.5 760.989 755.284)"
		stroke="url(#paint1_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="180 180"
		style="mix-blend-mode: overlay"
		opacity=".6"
	/>
	<circle
		cx="755.999"
		cy="756.071"
		r="375.793"
		transform="rotate(110 755.999 756.071)"
		stroke="url(#paint2_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="180 180"
		style="mix-blend-mode: overlay"
		opacity=".6"
	/>
	<circle
		cx="756"
		cy="756.072"
		r="589.836"
		transform="rotate(110 756 756.072)"
		stroke="url(#paint3_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="180 180"
		style="mix-blend-mode: overlay"
		opacity=".6"
	/>
	<circle
		cx="759.178"
		cy="755.57"
		r="347.411"
		transform="rotate(31 759.178 755.57)"
		stroke="url(#paint4_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="150 150"
		style="mix-blend-mode: overlay"
		opacity=".5"
	/>
	<circle
		cx="760.989"
		cy="755.283"
		r="545.288"
		transform="rotate(31 760.989 755.283)"
		stroke="url(#paint5_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="150 150"
		style="mix-blend-mode: overlay"
		opacity=".5"
	/>
	<circle
		cx="759.177"
		cy="755.57"
		r="311.13"
		transform="rotate(18.5 759.177 755.57)"
		stroke="url(#paint6_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="120 120"
		style="mix-blend-mode: overlay"
		opacity=".4"
	/>
	<circle
		cx="760.988"
		cy="755.285"
		r="488.342"
		transform="rotate(18.5 760.988 755.285)"
		stroke="url(#paint7_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="120 120"
		style="mix-blend-mode: overlay"
		opacity=".4"
	/>
	<circle
		cx="759.178"
		cy="755.569"
		r="286.108"
		transform="rotate(5 759.178 755.569)"
		stroke="url(#paint8_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="90 90"
		style="mix-blend-mode: overlay"
		opacity=".3"
	/>
	<circle
		cx="760.989"
		cy="755.283"
		r="449.068"
		transform="rotate(5 760.989 755.283)"
		stroke="url(#paint9_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="90 90"
		style="mix-blend-mode: overlay"
		opacity=".3"
	/>
	<circle
		cx="759.178"
		cy="755.569"
		r="252.128"
		transform="rotate(16.5 759.178 755.569)"
		stroke="url(#paint10_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="90 90"
		style="mix-blend-mode: overlay"
		opacity=".2"
	/>
	<circle
		cx="760.988"
		cy="755.283"
		r="395.734"
		transform="rotate(16.5 760.988 755.283)"
		stroke="url(#paint11_radial_752_5350)"
		stroke-linecap="round"
		stroke-linejoin="round"
		stroke-dasharray="90 90"
		style="mix-blend-mode: overlay"
		opacity=".2"
	/>
	<defs>
		<radialGradient
			id="paint0_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 387.839 402.558) scale(785.288 1009.84)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint1_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 465.6 344.377) scale(1232.57 1585.03)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint2_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="matrix(-651.1634 491.63186 -632.21723 -837.36788 943.799 480.288)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint3_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="matrix(-1022.05122 771.65414 -992.30924 -1314.30756 1050.77 323.209)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint4_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 382.517 406.602) scale(754.292 969.985)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint5_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 457.244 350.722) scale(1183.92 1522.47)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint6_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 368.99 416.877) scale(675.518 868.685)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint7_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 436.011 366.85) scale(1060.28 1363.47)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint8_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 359.661 423.962) scale(621.192 798.824)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint9_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 421.372 377.972) scale(975.009 1253.82)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint10_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 346.992 433.586) scale(547.415 703.95)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
		<radialGradient
			id="paint11_radial_752_5350"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="rotate(142.947 401.486 393.077) scale(859.209 1104.9)"
		>
			<stop stop-color="#fff" stop-opacity="0" />
			<stop offset=".071" stop-color="#fff" stop-opacity=".333" />
			<stop offset=".214" stop-color="#fff" />
			<stop offset=".559" stop-color="#fff" />
			<stop offset=".561" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".674" stop-color="#fff" />
			<stop offset=".675" stop-color="#fff" stop-opacity=".2" />
			<stop offset=".798" stop-color="#fff" />
			<stop offset=".799" stop-color="#fff" stop-opacity="0" />
			<stop offset=".91" stop-color="#fff" stop-opacity=".55" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</radialGradient>
	</defs>
</svg>
