<section class="solution solution--benefit">
	<div class="divider-label solution__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Enterprise ready</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title" data-scroll-trigger="item">
		<span class="t-grad">Benefits</span> of Prem
	</p>

	<p class="solution__text" data-scroll-trigger="item">
		Unlocking the benefits of proprietary models with seamless integration &
		privacy control.
	</p>

	<div data-scroll-trigger="anim-group">
		<div class="solution__features js-anim-group">
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/lock-open}}</div>
				<p class="solution__feature-text">
					<strong>Proprietary Model Advantage</strong> <br /><br />
					Unlock the power of proprietary models through seamless integration while maintaining data privacy
					and control.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/heart-handshake}}</div>
				<p class="solution__feature-text">
					<strong>BigTech Independence</strong><br /><br />
					Gain freedom from reliance on OpenAI by confidently transitioning to diverse, high-quality
					open-source and personalized proprietary models.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/analyze}}</div>
				<p class="solution__feature-text">
					<strong>Data Sovereignity</strong><br /><br />
					Protect your data with no risk of third-party access, maintaining complete control over your models
					by running them on your own infrastructure.
				</p>
			</article>
		</div>
	</div>
</section>