<section class="solution">
	<div class="divider-label solution__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Benefits</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title" data-scroll-trigger="item">
		Elevate your Product with Generative AI
	</p>

	<div data-scroll-trigger="anim-group">
		<div class="solution__features js-anim-group">
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/lock-open}}</div>
				<p class="solution__feature-text">
					<strong>Quality above all.</strong> <br /><br />
					Thanks to our autonomous fine-tuning primitives unlock any AI
					challenge for your product or business.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/heart-handshake}}</div>
				<p class="solution__feature-text">
					<strong>Customization</strong><br /><br />
					Fine-tune and train models according to your specific needs, providing
					flexibility and optimized performance.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/analyze}}</div>
				<p class="solution__feature-text">
					<strong>No Provider LockIn</strong><br /><br />
					We help you build your own model, making you independent of Open AI.
				</p>
			</article>
		</div>
	</div>
</section>