<section class="solution">
	<div class="divider-label solution__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Benefits</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title" data-scroll-trigger="item">
		Elevate your Product with Prem
	</p>

	<div data-scroll-trigger="anim-group">
		<div class="solution__features js-anim-group">
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/lock-open}}</div>
				<p class="solution__feature-text">
					<strong>Quality First</strong> <br /><br />
					Leverage our autonomous fine-tuning capabilities to unlock any AI challenge for your product or
					business.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/heart-handshake}}</div>
				<p class="solution__feature-text">
					<strong>Tailored Customization</strong><br /><br />
					Fine-tune and train models to meet your unique needs, ensuring flexibility and optimized
					performance.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/analyze}}</div>
				<p class="solution__feature-text">
					<strong>Avoid Vendor Lock-In</strong><br /><br />
					Build your proprietary models, liberating you from reliance on OpenAI or other providers.
				</p>
			</article>
		</div>
	</div>
</section>