<section class="blog__section">
	<div class="divider-label blog__label">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Blog</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<h2 class="blog__title">
		Our latest <br />
		communications
	</h2>

	<div class="blog__previews-container">
		<div class="blog__previews">
			<a href="" class="blog__card" target="_blank" rel="noopener">
				<div class="blog__card__image__wrap">
					<img
						src="https://via.placeholder.com/300x200"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">
					Announcing Our Startup Grants Program: Unlock Your AI Startup’s
					Potential with Prem!
				</p>
				<p class="blog__card__excerpt">
					Hey AI enthusiasts, tech wizards, and forward-thinkers! 👋 We're Prem,
					the architects behind an open-source AI develop...
				</p>
				<div class="blog__card__end">By Filippo Pedrazzini - Jan 24, 2024</div>
			</a>

			<a href="" class="blog__card" target="_blank" rel="noopener">
				<div class="blog__card__image__wrap">
					<img
						src="https://via.placeholder.com/300x200"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">
					Announcing Our Startup Grants Program: Unlock Your AI Startup’s
					Potential with Prem!
				</p>
				<p class="blog__card__excerpt">
					Hey AI enthusiasts, tech wizards, and forward-thinkers! 👋 We're Prem,
					the architects behind an open-source AI develop...
				</p>
				<div class="blog__card__end">By Filippo Pedrazzini - Jan 24, 2024</div>
			</a>

			<a href="" class="blog__card" target="_blank" rel="noopener">
				<div class="blog__card__image__wrap">
					<img
						src="https://via.placeholder.com/300x200"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">
					Announcing Our Startup Grants Program: Unlock Your AI Startup’s
					Potential with Prem!
				</p>
				<p class="blog__card__excerpt">
					Hey AI enthusiasts, tech wizards, and forward-thinkers! 👋 We're Prem,
					the architects behind an open-source AI develop...
				</p>
				<div class="blog__card__end">By Filippo Pedrazzini - Jan 24, 2024</div>
			</a>
		</div>
	</div>

	<div class="blog__cta">
		{{#>button tag="a" href="https://blog.premai.io/" target="_blank"
		rel="noopener" }} Discover more {{/button}}
	</div>
</section>
