<section class="blog__section" data-scroll-trigger="anim-group">
	<div class="divider-label blog__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Blog</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<h2 class="blog__title" data-scroll-trigger="item">
		Our latest <br />
		communications
	</h2>

	<div class="blog__previews-container js-anim-group">
		<div class="blog__previews">
			<a
				href="https://blog.premai.io/model-merging/"
				class="blog__card js-anim-item"
				target="_blank"
				rel="noopener"
			>
				<div class="blog__card__image__wrap">
					<img
						src="./images/blog/model-merging.webp"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">Model Merging</p>
				<p class="blog__card__excerpt">
					Imagine you have a bunch of superheroes, each trained in a specific
					skill. Iron Man's got the tech smarts, Black Widow's got the fighting
					moves, and Captain America...
				</p>
				<div class="blog__card__end">By Sayantan Das</div>
			</a>

			<a
				href="https://blog.premai.io/emergence-capabilities-of-llms/"
				class="blog__card js-anim-item"
				target="_blank"
				rel="noopener"
			>
				<div class="blog__card__image__wrap">
					<img
						src="./images/blog/emergent-capabilities.webp"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">Emergent Capabilities of LLMs</p>
				<p class="blog__card__excerpt">
					Emergence, a concept well-studied in fields like physics, biology, and
					mathematics, describes how complex systems can exhibit new, unforeseen
					properties as their...
				</p>
				<div class="blog__card__end">By Sayantan Das</div>
			</a>

			<a
				href="https://blog.premai.io/evaluation-of-llms-part-2/"
				class="blog__card js-anim-item"
				target="_blank"
				rel="noopener"
			>
				<div class="blog__card__image__wrap">
					<img
						src="./images/blog/evaluation-llms-part-2.webp"
						alt="Blog post title"
						class="blog__card__image"
						draggable="false"
					/>
				</div>

				<p class="blog__card__title">Evaluation of LLMS - Part 2</p>
				<p class="blog__card__excerpt">
					In this second part of the series, we delve into how LLMs can serve as
					evaluators, a concept referred to as "LLM as judge." Building on the
					previous blog, which introduced...
				</p>
				<div class="blog__card__end">By Sayantan Das</div>
			</a>
		</div>
	</div>

	<div class="blog__cta" data-scroll-trigger="item">
		{{#>button tag="a" href="https://blog.premai.io/" target="_blank"
		rel="noopener" }} Discover more {{/button}}
	</div>
</section>
