<section class="book__section" data-scroll-trigger="anim-group">
	<div class="book__content js-anim-group">
		<div class="divider-label book__label js-anim-item">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Resources</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h2 book__title js-anim-item">
			Interested in Learning More About <br />
			<span class="t-grad">Open Source AI?</span>
		</p>
		<p class="book__text js-anim-item">
			Explore the World of Open Source AI. Our comprehensive open-source AI book demystifies the ecosystem and
			keeps you updated on daily rapid advancements.
		</p>

		<div class="js-anim-item">
			<img src="./images/book-mockup.png" alt="State of open source AI Book cover" class="book__img"
				draggable="false" loading="lazy" />
		</div>

		<div class="book__cta js-anim-item">
			{{#>button tag="a" href="https://book.premai.io/" target="_blank"
			rel="noopener" }} Learn more {{/button}}
		</div>

		<div class="l-divider js-anim-item" aria-hidden="true" style="display: none">
			{{> illustrations/divider}}
		</div>
	</div>

	<div class="book__ill js-anim-group" aria-hidden="true">
		<img src="./images/stars.png" alt="Stars illustration" class="js-anim-item" draggable="false" loading="lazy" />
	</div>

	<div class="book__bg" aria-hidden="true" data-scroll-trigger="item"></div>
</section>