<section class="book__section">
	<div class="book__content">
		<div class="divider-label book__label">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Resources</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h2 book__title">
			Want to know more about <br />
			<span class="t-grad">Open Source AI Development?</span>
		</p>
		<p class="book__text">
			Our state of open source AI book is here to help you understand the
			complete ecosystem and fast paced changes happening every day.
		</p>

		<img
			src="./images/book-mockup.png"
			alt=""
			class="book__img"
			draggable="false"
		/>

		<div class="book__cta">
			{{#>button tag="a" href="https://book.premai.io/" target="_blank"
			rel="noopener" }} Learn more {{/button}}
		</div>

		<div class="l-divider" aria-hidden="true">{{> illustrations/divider}}</div>
	</div>

	<div class="book__ill" aria-hidden="true">
		<img
			src="./images/stars.png"
			alt="Models stars illustration"
			draggable="false"
		/>
	</div>

	<div class="book__bg" aria-hidden="true"></div>
</section>
