<{{op tag "||" "button"}}
  class="{{classes
    "button"
    (concat "button--" (op theme "||" "primary"))
    (concat "button--" (op size "||" "sm"))
    (ifCond outline "button--outline")
    (ifCond icon "button--icon")
    class
  }}"
  {{{attributes "button" this @root}}}
	{{{attributes "link" this @root}}}
>

	<div class="button__ill" aria-hidden="true"></div>
	<div class="button__bg" aria-hidden="true"></div>
  <div class="button__content">{{> @partial-block}}</div>
</{{op tag "||" "button"}}>
