<section class="certifications" data-scroll-trigger="anim-group">
	<p class="certifications__title h4 js-anim-title" data-split="lines" data-scroll-trigger="item">
		Certifications
	</p>

	<div class="certifications__list js-anim-group">
		<article class="certifications__item js-anim-item">
			<div class="certifications__item-logo">{{> illustrations/aicpa-soc}}</div>

			<div>
				<p class="h4 certifications__item-title">SOC 2</p>
				<p class="certifications__item-text">
					Prem adheres to rigorous standards in information processing, data retention, and access control.
				</p>
			</div>
		</article>

		<article class="certifications__item js-anim-item">
			<div class="certifications__item-logo">{{> illustrations/gdpr}}</div>

			<div>
				<p class="h4 certifications__item-title">GDPR</p>
				<p class="certifications__item-text">
					We proactively protect your data by ensuring secure processing and providing robust mechanisms to
					exercise your rights under GDPR, giving you peace of mind.
				</p>
			</div>
		</article>

		<article class="certifications__item js-anim-item">
			<div class="certifications__item-logo">{{> illustrations/hipaa}}</div>

			<div>
				<p class="h4 certifications__item-title">HIPAA</p>
				<p class="certifications__item-text">
					We protect your sensitive medical data through secure processing, adhering to HIPAA compliance for
					data confidentiality.
				</p>
			</div>
		</article>
	</div>

	<div class="l-divider js-anim-divider" aria-hidden="true">
		{{> illustrations/divider}}
	</div>
</section>