<section class="text-center mb-40">
	<p class="h2 px-4 md:px-0 mb-7" data-scroll-trigger="item">
		Solution to your upcoming <br />
		<span class="t-grad">AI Challenges</span>
	</p>

	<p
		class="h5 max-w-[700px] mx-auto text-gray-200 mb-14"
		data-scroll-trigger="item"
	>
		Tailored model fine-tuning and training designed to meet unique business
		requirements.
	</p>

	<div
		class="max-w-[90%] lg:max-w-[796px] mx-auto rounded-2xl bg-secondary-gradient md:px-20 py-2 border border-white border-opacity-30"
		data-scroll-trigger="item"
	>
		<img
			src="./images/solution-ai.png"
			alt="Solution to AI Challenges"
			class="max-w-[90%] h-auto mx-auto"
			draggable="false"
			loading="lazy"
		/>
	</div>
</section>
