<section class="collaborate js-collaborate-section">
	<div class="divider-label collaborate__label">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Academic Partnerships</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<h2 class="collaborate__title">
		Collaborating with top notch
		<span class="t-grad">universities.</span>
	</h2>

	<div class="collaborate__items-container">
		<div class="collaborate__items">
			<a
				href="https://www.media.mit.edu/"
				target="_blank"
				rel="noopener"
				class="collaborate__item"
			>
				<div class="collaborate__item-icon">{{> icons/collaborations/mit}}</div>
			</a>
			<a
				href="https://www.supsi.ch/"
				target="_blank"
				rel="noopener"
				class="collaborate__item"
			>
				<div class="collaborate__item-icon">
					{{> icons/collaborations/supsi}}
				</div>
			</a>
			<a
				href="https://www.usi.ch/it"
				target="_blank"
				rel="noopener"
				class="collaborate__item"
			>
				<div class="collaborate__item-icon">{{> icons/collaborations/usi}}</div>
			</a>
			<a href="/contact.html" class="collaborate__item collaborate__item--cta">
				<p class="collaborate__item-text">Collaborate with us</p>
			</a>
		</div>
	</div>

	<div class="l-divider" aria-hidden="true">{{> illustrations/divider}}</div>
</section>
