<section class="collaborate">
	<div class="divider-label collaborate__label">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Academic Partnerships</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<h2 class="collaborate__title">
		Collaborating with top notch
		<span class="t-grad">universities.</span>
	</h2>

	<div class="collaborate__items">
		<div class="collaborate__item"></div>
		<div class="collaborate__item"></div>
		<div class="collaborate__item"></div>
		<div class="collaborate__item"></div>
	</div>

	<div class="l-divider" aria-hidden="true">{{> illustrations/divider}}</div>
</section>
