<section class="compute js-compute-section" id="compute" data-scroll-trigger="anim-group">
	<div class="compute__content js-anim-group">
		<div class="divider-label compute__label js-anim-item">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Our Differentiator</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h3 compute__text js-anim-item">
			Complexities like prompt engineering, evaluation, retrieval augmentation, fine-tuning, and deployment can
			hinder effective AI delivery. Our platform automates these processes, enabling you to harness AI's full
			potential without deep expertise.
		</p>

		<div class="compute__cta js-anim-item">
			{{#>button tag="a" href="https://app.premai.io/accounts/signup/"
			target="_blank" rel="noopener" theme="secondary" }} Signup {{/button}}
		</div>
	</div>

	<div class="compute__bg" aria-hidden="true"></div>
	<div class="compute__scene js-compute-scene" aria-hidden="true">
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
		<div class="compute__scene-line js-compute-scene-line"></div>
	</div>
</section>