<section class="customer__stories">
	<div class="divider-label customer__label js-divider-label" data-scroll-trigger="item">
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5 js-divider-label-text">Testimonials</p>
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 customer__title js-anim-item" data-scroll-trigger="item">
		Customer stories
	</p>
	<p class="h5 customer__text js-anim-item" data-scroll-trigger="item">
		Customers from different industries have decided to use Prem instead of hiring AI experts.
	</p>

	<div class="customer__ill" data-scroll-trigger="item">
		<img src="./images/customer-stories.png" alt="Model Merging" class="customer__image js-anim-item"
			draggable="false" loading="lazy" />
	</div>

	<div class="customer__cta" data-scroll-trigger="item">
		{{#>button tag="a"
		href="https://premai.notion.site/Testimonials-1889c1f29a4c40698f4c88b25f5e1343"
		target="_blank" rel="noopener" }} Discover more {{/button}}
	</div>
</section>