<section class="eclipse__section">
	<div class="eclipse__bg" aria-hidden="true">
		<svg width="1512" height="1813" viewBox="0 0 1512 1813" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g opacity=".5" filter="url(#filter0_f_1590_15559)">
				<circle cx="755.5" cy="906.5" r="456.5" fill="url(#paint0_linear_1590_15559)" />
			</g>
			<defs>
				<linearGradient id="paint0_linear_1590_15559" x1="241.157" y1="618.515" x2="1397.77" y2="767.23"
					gradientUnits="userSpaceOnUse">
					<stop stop-color="#7F96FF" />
					<stop offset=".58" stop-color="#F58E8E" />
					<stop offset="1" stop-color="#F2D398" />
				</linearGradient>
				<filter id="filter0_f_1590_15559" x="-151" y="0" width="1813" height="1813" filterUnits="userSpaceOnUse"
					color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix" />
					<feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
					<feGaussianBlur stdDeviation="225" result="effect1_foregroundBlur_1590_15559" />
				</filter>
			</defs>
		</svg>
	</div>
	<div class="eclipse__ill" aria-hidden="true">
		{{> illustrations/isometric-grid}}
	</div>

	<div class="eclipse__content" data-scroll-trigger="item">
		<div class="eclipse__circle" aria-hidden="true"></div>

		<div class="eclipse__inner">
			<p class="h2 eclipse__title">Redefine Your AI Journey</p>
			<p class="h5 eclipse__text">
				Connect with us to explore how Prem can tailor solutions that elevate your AI strategy and drive
				transformative results.
			</p>

			<div class="eclipse__cta">
				{{#>button tag="a" href="./contact.html" class="js-cta" }} Get Started
				{{/button}}
			</div>
		</div>
	</div>
</section>