<div class="features-carousel js-features-carousel">
	<div class="features-carousel__timer js-time-carousel" aria-hidden="true">
		<div class="js-time-carousel-viewport">
			<div class="js-time-carousel-container">
				<div class="js-time-carousel-item"></div>
				<div class="js-time-carousel-item"></div>
				<div class="js-time-carousel-item"></div>
			</div>
		</div>
	</div>

	<div class="features-carousel__container">
		<div class="features-carousel__item js-features-carousel-item" data-index="0">
			<img
				src="./images/platform-ill.png"
				alt="Prem Platform"
				class="features-carousel__ill js-features-carousel-ill"
				draggable="false"
				loading="lazy"
				style="min-height: 150px; min-width: 200px"
			/>
			<div class="features-carousel__item-content js-features-carousel-content">
				<div class="features-carousel__item-title">For Developers</div>
				<div class="features-carousel__item-text js-features-carousel-item-text">
					An intuitive, user-friendly development platform for building generative AI solutions with ease.
				</div>
			</div>
			<div class="features-carousel__item-cta js-features-carousel-content">
				{{#>button tag="a" href="#platform" theme="icon"
				class="js-features-carousel-cta" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>

		<div class="features-carousel__item js-features-carousel-item" data-index="1">
			<img
				src="./images/solution-ill.png"
				alt="Prem Solution"
				class="features-carousel__ill js-features-carousel-ill"
				draggable="false"
				loading="lazy"
				style="min-height: 150px; min-width: 200px"
			/>
			<div class="features-carousel__item-content js-features-carousel-content">
				<div class="features-carousel__item-title">For Business</div>
				<div class="features-carousel__item-text js-features-carousel-item-text">
					Elevate your AI strategy. Tailored model fine-tuning and training
					designed to meet unique business requirements.
				</div>
			</div>
			<div class="features-carousel__item-cta js-features-carousel-content">
				{{#>button tag="a" href="#solution" theme="icon"
				class="js-features-carousel-cta" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>

		<div class="features-carousel__item js-features-carousel-item" data-index="2">
			<img
				src="./images/models-ill.png"
				alt="Prem Models"
				class="features-carousel__ill js-features-carousel-ill"
				draggable="false"
				loading="lazy"
				style="min-height: 150px; min-width: 200px"
			/>
			<div class="features-carousel__item-content js-features-carousel-content">
				<div class="features-carousel__item-title">Research</div>
				<div class="features-carousel__item-text js-features-carousel-item-text">
					A Suite of Foundational Open Source SLMs to Supercharge Business Applications.
				</div>
			</div>
			<div class="features-carousel__item-cta js-features-carousel-content">
				{{#>button tag="a" href="#models" theme="icon"
				class="js-features-carousel-cta" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>

		<!-- <div
			class="features-carousel__item js-features-carousel-item"
			data-index="3"
		>
			<img
				src="./images/compute-ill.png"
				alt="Prem Compute"
				class="features-carousel__ill js-features-carousel-ill"
				draggable="false"
			/>
			<div class="features-carousel__item-content js-features-carousel-content">
				<div class="features-carousel__item-title">Prem Compute</div>
				<div
					class="features-carousel__item-text js-features-carousel-item-text"
				>
					Get Access to a Cluster of GPUs for autonomously build your AI
					strategy.
				</div>
			</div>
			<div class="features-carousel__item-cta js-features-carousel-content">
				{{#>button tag="a" href="#compute" theme="icon"
				class="js-features-carousel-cta" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div> -->
	</div>

	<div class="features-carousel__progress js-features-carousel-progress">
		<div class="features-carousel__progress-bar js-features-carousel-progressbar"></div>
	</div>
</div>