<div class="features-carousel">
	<div class="features-carousel__container">
		<div class="features-carousel__item">
			<div class="features-carousel__item-content">
				<div class="features-carousel__item-title">Prem Platform</div>
				<div class="features-carousel__item-text"></div>
			</div>
			<div class="features-carousel__item-cta">
				{{#>button tag="a" href="" theme="icon" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>
		<div class="features-carousel__item">
			<div class="features-carousel__item-content">
				<div class="features-carousel__item-title">Prem Solution</div>
				<div class="features-carousel__item-text"></div>
			</div>
			<div class="features-carousel__item-cta">
				{{#>button tag="a" href="" theme="icon" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>
		<div class="features-carousel__item">
			<div class="features-carousel__item-content">
				<div class="features-carousel__item-title">Prem Models</div>
				<div class="features-carousel__item-text"></div>
			</div>
			<div class="features-carousel__item-cta">
				{{#>button tag="a" href="" theme="icon" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>
		<div class="features-carousel__item">
			<div class="features-carousel__item-content">
				<div class="features-carousel__item-title">Prem Compute</div>
				<div class="features-carousel__item-text"></div>
			</div>
			<div class="features-carousel__item-cta">
				{{#>button tag="a" href="" theme="icon" }}
				<div class="button__icon">
					<div class="button__icon-bg" aria-hidden="true">
						{{> icons/circle-button-bg}}
					</div>
					<div class="button__icon-inner">{{> icons/arrow-up }}</div>
				</div>
				{{/button}}
			</div>
		</div>
	</div>

	<div class="features-carousel__progress"></div>
</div>
