<footer class="footer">
	<div class="footer__main-content">
		<div class="l-container footer__container">
			<a href="./" class="footer__logo">{{> icons/logo}}</a>

			<div class="footer__body">
				<div class="footer__main">
					<div class="footer__head">
						<p class="footer__claim">AI that you own. Always.</p>
						<p class="footer__data">
							<strong>Prem Labs SA</strong> <br />
							Crocicchio di Cortogna 6, <br />
							6900 Lugano
						</p>
					</div>

					<div class="footer__links-group">
						<ul class="footer__links">
							<li class="footer__item">
								<a href="./for-developers.html" class="p footer__link link">For Developers</a>
							</li>
							<li class="footer__item">
								<a href="./for-business.html" class="p footer__link link">For Business</a>
							</li>
							<li class="footer__item">
								<a href="./company.html" class="p footer__link link">Company</a>
							</li>
							<li class="footer__item">
								<a href="https://blog.premai.io/" target="_blank" rel="noopener"
									class="p footer__link link">Blog</a>
							</li>
							<li class="footer__item">
								<a href="./contact.html" class="p footer__link link">Contact</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="footer__social">
					<p class="footer__social-label">Follow us</p>
					<ul class="footer__social-links">
						<li class="footer__social-item">
							<a href="https://twitter.com/filopedraz" target="_blank" rel="noopener"
								class="footer__social-link link">{{> icons/twitter-x}}</a>
						</li>
						<li class="footer__social-item">
							<a href="https://github.com/premAI-io" target="_blank" rel="noopener"
								class="footer__social-link link">{{> icons/github}}</a>
						</li>
						<li class="footer__social-item">
							<a href="https://discord.gg/44VSSeMMSC" target="_blank" rel="noopener"
								class="footer__social-link link">{{> icons/discord}}</a>
						</li>
						<li class="footer__social-item">
							<a href="https://www.youtube.com/@premai_io" target="_blank" rel="noopener"
								class="footer__social-link link">{{> icons/youtube}}</a>
						</li>
						<li class="footer__social-item">
							<a href="https://www.linkedin.com/company/premai/" target="_blank" rel="noopener"
								class="footer__social-link link">{{> icons/linkedin}}</a>
						</li>
						<li class="footer__social-item">
							<a href="https://www.facebook.com/profile.php?id=61556630762403" target="_blank"
								rel="noopener" class="footer__social-link link">{{> icons/facebook}}</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="footer__end">
				<p class="footer__end-text">
					&copy; 2024 Prem AI - All rights reserved
				</p>
				<div class="footer__end-side">
					<ul class="footer__end-links">
						<li>
							<a href="./privacy.html" class="footer__end-link link">Privacy Policy</a>
						</li>
						<li>
							<a href="./cookie-policy.html" class="footer__end-link link">Cookie Policy</a>
						</li>
						<li>
							<a href="./terms.html" class="footer__end-link link">Terms</a>
						</li>
					</ul>

					<a href="#top" class="footer__scrolltop glow glow--round js-hash-scroll">{{> icons/arrow-up }}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="footer__shape-bg" aria-hidden="true">
		{{> illustrations/footer-ellipse}}
	</div>
</footer>
