<head itemscope itemtype="http://schema.org/WebSite">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{title}}</title>
	<meta name="description" content="{{description}}" />

	<meta name="mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="{{title}}" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="msapplication-tap-highlight" content="no" />
	<script defer data-domain="premai.io" src="https://plausible.io/js/script.js"></script>
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-NLNQ7FDK');</script>
	<!-- End Google Tag Manager -->
</head>