<section class="highlight-section" data-scroll-trigger="group">
	<div class="highlight-section__ill" aria-hidden="true">
		<div class="highlight-section__ill-inner js-anim-item">
			{{> illustrations/ball-ill}}
		</div>
	</div>

	<p class="highlight-section__title highlight-section__title--left js-anim-item">
		The Smartest <br />
		Generative AI <br />
		Enabler.
	</p>
	<p class="highlight-section__title highlight-section__title--right js-anim-item">
		Powered by <br />
		Cutting-Edge <br />
		Research.
	</p>
</section>