<div class="glow-rad__section js-glow-cards">
	<section class="mission glow-rad__item js-glow-card" data-scroll-trigger="anim-group">
		<div class="mission__content js-anim-group">
			<div class="divider-label mission__label js-anim-item">
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-left}}
				</div>
				<p class="divider-label__text h5">Privacy & Ownership</p>
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-right}}
				</div>
			</div>

			<p class="h2 mission__title js-anim-item">Our Mission</p>
			<p class="h5 mission__text js-anim-item">
				Accelerating the Advent of Sovereign AI.
			</p>
		</div>

		<div class="mission__ill" aria-hidden="true">
			<img src="./images/mission-bg.png" alt="Mission planet & stars background" class="mission__img-desk"
				loading="lazy" />
			<img src="./images/mission-mobile.png" alt="Mission planet & stars background" class="mission__img-mobile"
				loading="lazy" />
		</div>

		<div class="glow-rad" aria-hidden="true"></div>
	</section>
</div>