<section class="mission">
	<div class="mission__content">
		<div class="divider-label mission__label">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Lorem ipsum dolor sit</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h2 mission__title">Mission</p>
		<p class="h5 mission__text">
			Our mission is to accelerate the enterprise adoption of Open Source AI
			models.
		</p>
	</div>
</section>
