<div class="glow-rad__section js-glow-cards">
	<section class="models__section" id="models" data-scroll-trigger="anim-group">
		<article class="models js-anim-group glow-rad__item js-glow-card">
			<div class="models__bg js-anim-item" aria-hidden="true"></div>
			<div class="models__ill js-anim-item" aria-hidden="true">
				<img src="./images/stars.png" alt="Models stars illustration" draggable="false" loading="lazy" />
			</div>

			<div class="models__content">
				<div class="divider-label models__label js-anim-item">
					<div class="divider-label__ill" aria-hidden="true">
						{{> illustrations/divider-sm-left}}
					</div>
					<p class="divider-label__text h5">Introducing Prem's SLMs</p>
					<div class="divider-label__ill" aria-hidden="true">
						{{> illustrations/divider-sm-right}}
					</div>
				</div>

				<p class="h2 models__title js-anim-item">Research</p>
				<p class="models__text js-anim-item">
					Small Language Models suitable for fine-tuning and custom use cases.
					<br />
					State of the art efficiency without compromising quality.
				</p>

				<div class="models__cta js-anim-item">
					{{#>button tag="a" href="https://app.premai.io/accounts/signup/"
					target="_blank" rel="noopener" }} Discover more {{/button}}
				</div>
			</div>

			<div class="glow-rad" aria-hidden="true"></div>
		</article>
	</section>
</div>