<section class="models-slm" data-scroll-trigger="anim-group">
	<div class="l-container models-slm__container js-anim-group">
		<div class="divider-label models-slm__label js-anim-item">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Models</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h2 models-slm__title js-anim-item">Prem's Specialized SLMs</p>
		<p class="models-slm__text js-anim-item">
			A Suite of Foundational Open Source SLMs to Supercharge Business
			Applications.
		</p>

		<div class="models-slm__content js-glow-cards">
			<div class="models-slm__item js-anim-item">
				<article class="model-card model-card--rag glow-rad__item js-glow-card">
					<div class="model-card__logo">{{> icons/logo-model }}</div>
					<p class="model-card__title">Prem-1b-RAG</p>
					<p class="model-card__text">
						Specialized at extracting content in a meaningful way.
					</p>

					<div class="glow-rad" aria-hidden="true"></div>
				</article>
			</div>

			<div class="models-slm__item js-anim-item">
				<article
					class="model-card model-card--json glow-rad__item js-glow-card"
				>
					<div class="model-card__logo">{{> icons/logo-model }}</div>
					<p class="model-card__title">Prem-1b-Json</p>
					<p class="model-card__text">
						Specifically designed for function-calling and APIs integrations.
					</p>

					<div class="glow-rad" aria-hidden="true"></div>
				</article>
			</div>

			<div class="models-slm__item js-anim-item">
				<article class="model-card model-card--sum glow-rad__item js-glow-card">
					<div class="model-card__logo">{{> icons/logo-model }}</div>
					<p class="model-card__title">Prem-1b-Summarizer</p>
					<p class="model-card__text">
						Specialized to handle RAG use cases for companies internal data.
					</p>

					<div class="glow-rad" aria-hidden="true"></div>
				</article>
			</div>
		</div>

		<div class="models-slm__cta js-anim-item">
			{{#>button tag="a" href="./contact.html" }} Schedule a call {{/button}}
		</div>
	</div>
</section>
