<nav class="nav js-nav">
	<div class="l-container nav__container">
		<a href="https://premai.io" class="nav__logo">{{> icons/logo}}</a>

		<ul class="nav__items">
			<li class="nav__item">
				<a href="./for-developers.html" class="nav__link js-nav-link" data-route="developers">
					<div class="nav__link-inner">For Developers</div>
				</a>
			</li>
			<li class="nav__item">
				<a href="./for-business.html" class="nav__link js-nav-link" data-route="business">
					<div class="nav__link-inner">For Business</div>
				</a>
			</li>
			<li class="nav__item">
				<a href="./company.html" class="nav__link js-nav-link" data-route="company">
					<div class="nav__link-inner">Company</div>
				</a>
			</li>
			<li class="nav__item">
				<a href="https://blog.premai.io/" target="_blank" rel="noopener" class="nav__link js-nav-link">
					<div class="nav__link-inner">Blog</div>
				</a>
			</li>
			<li class="nav__item">
				<a href="./contact.html" class="nav__link js-nav-link" data-route="contact">
					<div class="nav__link-inner">Contact</div>
				</a>
			</li>
		</ul>

		<div class="nav__ctas">
			<a href="https://docs.premai.io" target="_blank" rel="noopener" class="nav__side-link">
				<span class="nav__side-text">Docs</span>
				<span class="nav__side-icon">{{> icons/external-link}}</span>
			</a>
			<div>
				{{#>button tag="a" href="https://app.premai.io/accounts/signup/"
				target="_blank" rel="noopener" theme="secondary" }} Sign up {{/button}}
			</div>
		</div>

		<div class="nav__toggle js-nav-toggle">
			<span></span>
			<span></span>
		</div>
	</div>
</nav>

<nav class="nav-mobile js-nav-mobile">
	<div class="nav-mobile__container">
		<div aria-hidden="true"></div>

		<ul class="nav-mobile__links">
			<li class="nav-mobile__item">
				<a href="./for-developers.html" class="nav-mobile__link js-nav-mobile-link" data-route="developers">For
					Developers</a>
			</li>
			<li class="nav-mobile__item">
				<a href="./for-business.html" class="nav-mobile__link js-nav-mobile-link" data-route="business">For
					Business</a>
			</li>
			<li class="nav-mobile__item">
				<a href="./company.html" class="nav-mobile__link js-nav-mobile-link" data-route="company">Company</a>
			</li>
			<li class="nav-mobile__item">
				<a href="https://blog.premai.io/" target="_blank" rel="noopener"
					class="nav-mobile__link js-nav-mobile-link">Blog</a>
			</li>
			<li class="nav-mobile__item">
				<a href="./contact.html" class="nav-mobile__link js-nav-mobile-link" data-route="contact">Contact</a>
			</li>
		</ul>

		<div class="nav-mobile__end">
			{{#>button tag="a" href="https://docs.premai.io" target="_blank"
			rel="noopener" outline="true" class="js-nav-mobile-cta" }} Docs
			{{/button}} {{#>button tag="a"
			href="https://app.premai.io/accounts/signup/" target="_blank"
			rel="noopener" theme="secondary" class="js-nav-mobile-cta" }} Sign up
			{{/button}}
		</div>
	</div>

	<div class="nav-mobile__bg js-nav-mobile-bg"></div>
</nav>