<section class="newsletter__section" data-scroll-trigger="newsletter">
	<div class="newsletter__content">
		<div class="divider-label newsletter__label">
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-left}}
			</div>
			<p class="divider-label__text h5">Newsletter</p>
			<div class="divider-label__ill" aria-hidden="true">
				{{> illustrations/divider-sm-right}}
			</div>
		</div>

		<p class="h2 newsletter__title">Stay Tuned</p>
		<p class="newsletter__text">
			Receive early access to Prem's new Features & Releases.
		</p>

		<form class="newsletter__form js-newsletter-form">
			<div class="newsletter__input-wrap">
				<input
					type="email"
					class="newsletter__input js-newsletter-mail"
					placeholder="E-mail address..."
					required
				/>
				<div class="newsletter__input-error js-newsletter-error"></div>
			</div>

			{{#>button type="submit" }} Subscribe {{/button}}
		</form>
	</div>

	<div class="newsletter__ill newsletter__ill--first" aria-hidden="true">
		<div class="js-anim-ill">{{> illustrations/planet-left}}</div>
	</div>
	<div class="newsletter__ill newsletter__ill--last" aria-hidden="true">
		<div class="js-anim-ill">{{> illustrations/planet-right}}</div>
	</div>
</section>
