<section class="platform" id="platform">
	<div class="divider-label platform__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">
			Focus on your Product Innovation
		</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 platform__title" data-scroll-trigger="item">Prem Platform</p>

	<div class="platform__items glow-rad__section js-glow-cards">
		<div class="l-container platform__container js-glow-cards">
			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/experiment-and-test.png" alt="Experiment and Test" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Experiment and test</p>
					<p class="platform__card-description">
						Simultaneously test and benchmark multiple models, comparing performance metrics tailored to
						your use case.
					</p>
				</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/best-model.png" alt="Launch the best model" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Launch the best model</p>
					<p class="platform__card-description">
						Start with the best model, choosing the perfect parameters for your
						use case. Seamlessly transition between models in production without
						needing code edits.
					</p>
				</div>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/integrate-ease.png" alt="Seamless Integration" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Seamless Integration</p>
					<p class="platform__card-description">
						Leverage our JS and Python SDKs for effortless integration into your product. The intuitive UI
						handles model specification, eliminating complexity.
					</p>
				</div>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/monitor-ai-case.png" alt="Monitor Your AI case" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Proactive Monitoring</p>
					<p class="platform__card-description">
						Maintain control over model outputs for your use case, with the ability to refine prompts
						dynamically for optimal performance.
					</p>
				</div>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/connect-documents.png" alt="Connect your documents" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Data Integration</p>
					<p class="platform__card-description">
						Enrich your AI assistant with domain-specific knowledge by seamlessly connecting and integrating
						multiple data sources with a single click.
					</p>
				</div>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="article platform__card glow-rad__item js-glow-card" data-scroll-trigger="item">
				<div class="platform-card__ill">
					<img src="./images/models-training.png" alt="Train your own models" draggable="false" />
				</div>
				<div class="platform__card-content">
					<p class="h3 platform__card-title">Train your Model</p>
					<p class="platform__card-description">
						Leverage our autonomous fine-tuning and training agents for Continuous Model Refinement,
						ensuring real-time quality improvements to your AI models.
					</p>
				</div>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>
		</div>

		<div class="platform__cta" data-scroll-trigger="item">
			{{#>button tag="a" href="https://app.premai.io" target="_blank"
			rel="noopener" }} Try now {{/button}}
		</div>

		<div class="platform__bg" aria-hidden="true" />
		<div class="platform__ill" aria-hidden="true">
			{{> illustrations/isometric-grid}}
		</div>
	</div>
</section>