<section class="platform-pw" id="platform-pw" data-scroll-trigger="group">
	<div class="divider-label platform-pw__divider js-divider-label js-anim-item">
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5 js-divider-label-text">For Developers</p>
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<div class="platform-pw__content">
		<p class="h2 platform-pw__title js-anim-item">Prem Platform</p>

		<p class="platform-pw__desc js-anim-item">
			Unlocking AI's effectiveness involves complex tasks like prompt engineering, evaluation, RAG, fine-tuning,
			and deployment. Prem's platform simplifies these processes, enabling anyone to harness AI's maximum
			potential effortlessly, even without deep expertise.
		</p>

		<img src="./images/platform-frame-1.png" alt="Prem Platform models"
			class="platform-pw__image platform-pw__image--first js-anim-item" />
		<img src="./images/platform-frame-2.png" alt="Prem Platform playgrounds"
			class="platform-pw__image platform-pw__image--second js-anim-item" />
		<img src="./images/platform-frame-3.png" alt="Prem Platform Projects"
			class="platform-pw__image platform-pw__image--last js-anim-item" />
	</div>

	<div class="platform-pw__ill js-anim-item" aria-hidden="true">
		{{> illustrations/isometric-grid}}
	</div>

	<div class="platform-pw__ctas js-anim-item">
		{{#>button tag="a" href="./for-developers.html" }} Discover more {{/button}}
		{{#>button tag="a" href="https://app.premai.io/accounts/signup/"
		target="_blank" rel="noopener" theme="secondary" }} Signup {{/button}}
	</div>
</section>