<a
	href="https://www.producthunt.com/posts/prem-platform?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-prem&#0045;platform"
	target="_blank"
	id="product-hunt-button"
	class="fixed bottom-10 right-10 z-50 opacity-0 scale-0"
	><img
		src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=458313&theme=light"
		alt="PREM&#0032;Platform&#0032; - Intuitive&#0032;Generative&#0032;AI&#0032;Platform&#0032;Built&#0032;for&#0032;Developers&#0046; | Product Hunt"
		style="width: 250px; height: 54px"
		width="250"
		height="54"
/></a>
