<section class="services__section">
	<p class="h2 services__title" data-scroll-trigger="item">Prem Services</p>
	<p class="h5 services__text" data-scroll-trigger="item">
		Explore our range of Services to elevate your business with Generative AI.
	</p>

	<div class="services js-glow-cards" data-scroll-trigger="group">
		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">Large Language Model Integration</p>
			<p class="services__item-text">
				Enhance your applications' language understanding capabilities by integrating Large Language Models
				(LLMs).
			</p>

			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">RAG & Fine-tuning</p>
			<p class="services__item-text">
				Refine your models using Retrieval-Augmented Generation (RAG) techniques for optimal performance in
				dynamic environments.
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">Foundational Model Training</p>
			<p class="services__item-text">
				Build robust foundational models tailored to serve as the cornerstone for your advanced AI applications.
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">
				Custom Generative AI Model Development
			</p>
			<p class="services__item-text">
				Develop personalized Generative AI models to meet your unique business needs and use cases.
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>
	</div>
</section>