<section class="services__section">
	<p class="h2 services__title" data-scroll-trigger="item">Prem Services</p>
	<p class="h5 services__text" data-scroll-trigger="item">
		Lorem ipsum dolor sit amet, consequitur adepiscit, lorem ipsum, fda
		aliquando cra tertiatum.
	</p>

	<div class="services js-glow-cards" data-scroll-trigger="group">
		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">LLM Integration</p>
			<p class="services__item-text">
				Integrate Large Language Models (LLMs) into your applications, enhancing
				their language understanding capabilities.
			</p>

			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">RAG & Fine-tuning</p>
			<p class="services__item-text">
				Refine your models using Retrieval-Augmented Generative (RAG)
				techniques, ensuring optimal performance and adaptability in dynamic
				environments
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">Foundational Model Training</p>
			<p class="services__item-text">
				Our fondational model traning service, building robust models that serve
				as the cornerstone for your advanced applications.
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>

		<div class="services__item js-anim-item glow-rad__item js-glow-card">
			<p class="services__item-title h4">
				Custom Generative AI Model Development
			</p>
			<p class="services__item-text">
				Integrate Large Language Models (LLMs) into your applications, enhancing
				their language understanding capabilities.
			</p>
			<div class="glow-rad" aria-hidden="true"></div>
		</div>
	</div>
</section>
