<section class="slm" data-scroll-trigger="anim-group">
	<div class="l-container slm__container">
		<div class="slm__content js-anim-group">
			<p class="slm__title js-anim-item">
				Introducing Prem's
				<span class="t-grad">Small Language Models</span> (SLM)
			</p>

			<p class="slm__text js-anim-item">
				Over 90% of LLM applications involve summarization of Retrieval
				Augmented Generation (RAG) tasks, where smaller, specialized models are
				more effective. <br />
				<br />
				Prem is pioneering a new class of efficient and cost-effective OS
				foundational Small Language Models (SLMs) as alternatives to Mistral 7B.
				These streamlined models are designed for fine-tuning, precisely meeting
				the unique demands of specific business scenarios.
			</p>
		</div>

		<div class="slm__media js-anim-group">
			<div class="js-anim-item">{{> illustrations/slm }}</div>
		</div>
	</div>
</section>
