<section class="solution" id="solution">
	<div class="divider-label solution__label" data-scroll-trigger="item">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">For Business</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title" data-scroll-trigger="item">Prem Solution</p>

	<div data-scroll-trigger="anim-group">
		<div class="solution__features js-anim-group">
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/shield}}</div>
				<p class="solution__feature-text">
					Data Sovereignty & Ownership: gain independence from OpenAI while transitioning smoothly to diverse,
					high-quality open-source and proprietary models, retaining full control over your intellectual
					capital.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/trade}}</div>
				<p class="solution__feature-text">
					Customization: fine-tune and train models according to your needs, providing flexibility and
					optimized performance.
				</p>
			</article>
			<article class="solution__feature js-anim-item">
				<div class="solution__feature-icon">{{> icons/tower}}</div>
				<p class="solution__feature-text">
					On-Premise: run AI models on your infrastructure, ensuring no third-party access risk. Retain
					control over sensitive data assets.
				</p>
			</article>
		</div>
	</div>

	<div class="l-divider solution__divider" data-scroll-trigger="item" aria-hidden="true">
		{{> illustrations/divider}}
	</div>

	<div class="solution__stats-container glow-rad__section js-glow-cards" data-scroll-trigger="anim-group">
		<div class="solution__stats js-anim-group">
			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">15+</p>
				<div class="solution__stat-text h5">
					Enterprise Clients served successfully
				</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>

			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">20k</p>
				<div class="solution__stat-text h5">Users served with our Platform</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>

			<article class="solution__stat glow-rad__item js-glow-card js-anim-item">
				<p class="solution__stat-title h2">30+</p>
				<div class="solution__stat-text h5">Trained / Fine- tuned models.</div>

				<div class="glow-rad" aria-hidden="true"></div>
			</article>
		</div>
	</div>

	<div class="solution__cta" data-scroll-trigger="item">
		{{#>button tag="a" href="./contact.html" }} Schedule a call {{/button}}
	</div>
</section>