<section class="solution">
	<div class="divider-label solution__label">
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5">Lorem ipsum dolor sit</p>
		<div class="divider-label__ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 solution__title">Prem Solution</p>

	<div class="solution__stats">
		<article class="solution__stat">
			<p class="solution__stat-title h2">15+</p>
			<div class="solution__stat-text h5">
				Enterprise Clients served successfully
			</div>
		</article>

		<article class="solution__stat">
			<p class="solution__stat-title h2">20k</p>
			<div class="solution__stat-text h5">Users served with our Platform</div>
		</article>

		<article class="solution__stat">
			<p class="solution__stat-title h2">30+</p>
			<div class="solution__stat-text h5">Trained / Fine- tuned models.</div>
		</article>
	</div>

	<div class="l-divider solution__divider" aria-hidden="true">
		{{> illustrations/divider}}
	</div>

	<div class="solution__features">
		<article class="solution__feature">
			<div class="solution__feature-icon">{{> icons/shield}}</div>
			<p class="solution__feature-text">
				Elevate your AI strategy without compromising privacy and control.
			</p>
		</article>
		<article class="solution__feature">
			<div class="solution__feature-icon">{{> icons/trade}}</div>
			<p class="solution__feature-text">
				Everything you need to train and fine-tune your own state-of-the-art
				generative AI models on your data.
			</p>
		</article>
		<article class="solution__feature">
			<div class="solution__feature-icon">{{> icons/tower}}</div>
			<p class="solution__feature-text">
				On Premise deployments for full ownership and control.
			</p>
		</article>
	</div>

	<div class="solution__cta">
		{{#>button tag="a" href="" }} Schedule a call {{/button}}
	</div>
</section>
