<div class="glow-rad__section js-glow-cards">
	<section class="status glow-rad__item js-glow-card" data-scroll-trigger="anim-group">
		<div class="status__content js-anim-group">
			<p class="status__title js-anim-item">Prem Status Page</p>
			<p class="h5 status__text js-anim-item">
				Real-time monitoring of reliability and inference metrics across all providers.
			</p>
			<div class="status__cta js-anim-item">
				{{#>button tag="a" href="https://models.premai.io/" target="_blank"
				rel="noopener" }} Visit Status Page {{/button}}
			</div>
		</div>

		<div class="status__ill js-anim-group" aria-hidden="true">
			<img src="./images/status-page.png" alt="Status page screens" draggable="false"
				class="status__ill-desk js-anim-item" />
			<img src="./images/status-page-mobile.png" alt="Status page screens" class="status__ill-mobile js-anim-item"
				draggable="false" />
		</div>

		<div class="glow-rad" aria-hidden="true"></div>
	</section>
</div>