<section class="team__section js-team-section" data-scroll-trigger="anim-group">
	<div class="l-container team__container js-anim-group">
		<p class="h2 team__title t-grad js-anim-item">Team</p>
		<p class="h5 team__text js-anim-item">
			Our team is a dynamic blend of diverse talents and deep technological
			expertise, united by a shared passion to challenge the status quo. We are
			dedicated to maximizing AI's variance and positive impact. Join us on this
			groundbreaking journey.
		</p>

		<div class="team__members-container">
			<div class="team__members">
				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/simone.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/filippo.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Filippo Pedrazzini</p>
					<p class="team__card__subtitle">CTO</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/marco.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Marco Argentieri</p>
					<p class="team__card__subtitle">Head of Product</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/rohit.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Rohit Gupta</p>
					<p class="team__card__subtitle">Senior ML Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/lorem-1.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Anindyadeep Sannigrahi</p>
					<p class="team__card__subtitle">ML Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/lorem-2.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Swarnim Arun</p>
					<p class="team__card__subtitle">SW Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/richard.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Richard Paletorphe</p>
					<p class="team__card__subtitle">SW Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/vittorio.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Vittorio Pellegrini</p>
					<p class="team__card__subtitle">ML Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/sayantan.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Sayantan Das</p>
					<p class="team__card__subtitle">ML Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/biswaroop.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Biswaroop Bhattacharjee</p>
					<p class="team__card__subtitle">Senior ML Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/ettore.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Ettore Di Giacinto</p>
					<p class="team__card__subtitle">Founding Engineer</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="./images/team/nicola.png"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
							loading="lazy"
						/>
					</div>

					<p class="h5 team__card__title">Nicola Sosio</p>
					<p class="team__card__subtitle">Senior ML Engineer</p>
				</article>
			</div>
		</div>
	</div>
</section>
