<section class="team__section js-team-section">
	<div class="l-container team__container">
		<p class="h2 team__title t-grad">Team</p>
		<p class="h5 team__text">
			Our team is a dynamic blend of diverse talents and deep technological
			expertise, united by a shared passion to challenge the status quo. We are
			dedicated to maximizing AI's variance and positive impact. Join us on this
			groundbreaking journey.
		</p>

		<div class="team__members-container">
			<div class="team__members">
				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="1">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="2">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="3">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>

				<article class="team__card js-team-card" data-index="4">
					<div class="team__card__image-wrap">
						<img
							src="https://via.placeholder.com/300x200"
							alt="Blog post title"
							class="team__card__image"
							draggable="false"
						/>
					</div>

					<p class="h5 team__card__title">Simone Giacomelli</p>
					<p class="team__card__subtitle">CEO</p>
				</article>
			</div>
		</div>
	</div>
</section>
