<section
	class="testimonials js-testimonial-section"
	data-scroll-trigger="anim-group"
>
	<div class="testimonials__ill" aria-hidden="true">
		{{> illustrations/vortex }}
	</div>

	<div class="l-container testimonials__container js-anim-group">
		<div class="testimonials__head">
			<div class="divider-label testimonials__label js-anim-item">
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-left}}
				</div>
				<p class="divider-label__text h5">Lorem ipsum dolor sit</p>
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-right}}
				</div>
			</div>

			<p class="h2 testimonials__title t-grad js-anim-item">Testimonials</p>
			<p class="h5 testimonials__text js-anim-item">
				Quo accusamus commodi suscipit earum. Perspiciatis praesentium incidunt
				sed nam nisi molestiae. Accusamus minima omnis et molestiae ad
				occaecati.
			</p>
		</div>

		<div class="testimonials__stack">
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Esse veniam repudiandae et ab vero consequatur quidem amet. Tenetur
						commodi autem accusantium officiis possimus qui sit assumenda qui.
						Nesciunt atque atque enim corrupti sequi et dolores."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Nicolas Espinoza</p>
								<p class="testimonial__card__author__subtitle">
									CEO Grand | PhD
								</p>
							</div>
						</div>

						<div class="testimonial__card__author__logo">
							{{> icons/partners/grand}}
						</div>
					</div>
				</div>
			</article>
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Esse veniam repudiandae et ab vero consequatur quidem amet. Tenetur
						commodi autem accusantium officiis possimus qui sit assumenda qui.
						Nesciunt atque atque enim corrupti sequi et dolores."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Nicolas Espinoza</p>
								<p class="testimonial__card__author__subtitle">
									CEO Grand | PhD
								</p>
							</div>
						</div>

						<div class="testimonial__card__author__logo">
							{{> icons/partners/grand}}
						</div>
					</div>
				</div>
			</article>
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Esse veniam repudiandae et ab vero consequatur quidem amet. Tenetur
						commodi autem accusantium officiis possimus qui sit assumenda qui.
						Nesciunt atque atque enim corrupti sequi et dolores."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Nicolas Espinoza</p>
								<p class="testimonial__card__author__subtitle">
									CEO Grand | PhD
								</p>
							</div>
						</div>

						<div class="testimonial__card__author__logo">
							{{> icons/partners/grand}}
						</div>
					</div>
				</div>
			</article>
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Esse veniam repudiandae et ab vero consequatur quidem amet. Tenetur
						commodi autem accusantium officiis possimus qui sit assumenda qui.
						Nesciunt atque atque enim corrupti sequi et dolores."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Nicolas Espinoza</p>
								<p class="testimonial__card__author__subtitle">
									CEO Grand | PhD
								</p>
							</div>
						</div>

						<div class="testimonial__card__author__logo">
							{{> icons/partners/grand}}
						</div>
					</div>
				</div>
			</article>
		</div>

		<div class="testimonials__carousel-nav">
			<button
				class="testimonials__carousel-nav-item js-testimonial-carousel-prev"
			>
				{{> icons/arrow-left}}
			</button>
			<button
				class="testimonials__carousel-nav-item js-testimonial-carousel-next"
			>
				{{> icons/arrow-right}}
			</button>
		</div>
	</div>
</section>
