<section class="testimonials js-testimonial-section" data-scroll-trigger="anim-group">
	<div class="testimonials__ill" aria-hidden="true">
		{{> illustrations/vortex }}
	</div>

	<div class="l-container testimonials__container js-anim-group">
		<div class="testimonials__head">
			<div class="divider-label testimonials__label js-anim-item">
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-left}}
				</div>
				<p class="divider-label__text h5">Satisfied Customers</p>
				<div class="divider-label__ill" aria-hidden="true">
					{{> illustrations/divider-sm-right}}
				</div>
			</div>

			<p class="h2 testimonials__title t-grad js-anim-item">Testimonials</p>
			<p class="h5 testimonials__text js-anim-item">
				Prem is helping teams of all sizes, across all industries, from
				ambitious startups to established enterprises.
			</p>
		</div>

		<div class="testimonials__stack">
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Adding Prem Platform to our workflow has made a huge difference in
						how we manage compliance. The fine-tuning functionality has been a
						game-changer, allowing us to tailor AI models to meet the unique
						needs of the financial sector. With Prem, our adaptive AI GRC
						software now offers even more precise and efficient regulatory
						adherence, making compliance easier for our clients."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Nicolas Espinoza</p>
								<p class="testimonial__card__author__subtitle">
									CEO Grand | PhD
								</p>
							</div>
						</div>

						<a href="https://www.grand.io/" target="_blank" rel="noopener"
							class="testimonial__card__author__logo">
							{{> icons/partners/grand}}
						</a>
					</div>
				</div>
			</article>
			<!-- <article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Integrating Prem Platform into our systems was quick and easy,
						making our scheduling and forecasting services even better. With
						Prem, we added advanced AI to our tools without any hassle. It's
						been great for Sicuro.it and our clients."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">V</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Vittorio Guarini</p>
								<p class="testimonial__card__author__subtitle">CEO Sicuro.it</p>
							</div>
						</div>

						<a
							href="https://www.sicuro.it/"
							target="_blank"
							rel="noopener"
							class="testimonial__card__author__logo"
						>
							<img
								src="./images/partners/sicuroit.png"
								alt="sicuro.it service logo"
								loading="lazy"
							/>
						</a>
					</div>
				</div>
			</article> -->
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"By using Prem to fine-tune our image generation model, we're now
						producing stunning planet images that truly captivate our users. The
						platform's fine-tuning functionality made it simple to achieve the
						exact visual style we envisioned, enhancing the gaming experience.
						Prem has been instrumental in pushing our creative boundaries."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">N</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">N3o</p>
								<p class="testimonial__card__author__subtitle">CEO Zero</p>
							</div>
						</div>

						<a href="https://zer0.io/a/home" target="_blank" rel="noopener"
							class="testimonial__card__author__logo">
							<img src="./images/partners/zero.png" alt="zer0.io service logo" loading="lazy" />
						</a>
					</div>
				</div>
			</article>
			<article class="testimonial__card js-testimonial-card">
				<div class="testimonial__card__body">
					<p class="h3 testimonial__card__text">
						"Using Prem's integrations, Sellix developed a fraud detection tool
						that changed the game for us. It's now over 80% more accurate in
						spotting fake transactions, stopping scams in their tracks. This
						tool has been a major win for our security efforts."
					</p>
				</div>

				<div class="testimonial__card__end">
					<div class="l-divider" aria-hidden="true">
						{{> illustrations/divider}}
					</div>

					<div class="testimonial__card__end__inner">
						<div class="testimonial__card__author">
							<div class="testimonial__card__author__avatar">
								<div class="testimonial__card__author__letter">D</div>
							</div>
							<div class="testimonial__card__author__content">
								<p class="testimonial__card__author__title">Daniele Servadei</p>
								<p class="testimonial__card__author__subtitle">CEO Sellix</p>
							</div>
						</div>

						<a href="https://sellix.io/" target="_blank" rel="noopener"
							class="testimonial__card__author__logo">
							{{> icons/partners/sellix}}
						</a>
					</div>
				</div>
			</article>
		</div>

		<div class="testimonials__carousel-nav">
			<button class="testimonials__carousel-nav-item js-testimonial-carousel-prev">
				{{> icons/arrow-left}}
			</button>
			<button class="testimonials__carousel-nav-item js-testimonial-carousel-next">
				{{> icons/arrow-right}}
			</button>
		</div>
	</div>
</section>