<section class="trusted" data-scroll-trigger="trusted">
	<p class="trusted__title h4 js-anim-title" data-split="lines">
		Trusted by global companies and partners
	</p>

	<div class="trusted__rows">
		<div class="trusted__row js-marquee-row js-anim-row" data-reversed>
			<a
				href="https://www.grand.io/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/grand}}
			</a>
			<a
				href="https://www.soluzionifutura.it/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/solfu}}
			</a>
			<a
				href="https://www.wilderworld.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/wilder}}
			</a>
			<a
				href="https://www.sicuro.it/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/sicuroit}}
			</a>
			<a
				href="https://sellix.io/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/sellix}}
			</a>
			<a
				href="https://zer0.io/a/home"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/zero}}
			</a>
			<a
				href="https://www.gavagai.io/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/gavagai}}
			</a>
			<a
				href="https://www.arc53.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/arc53}}
			</a>
			<a
				href="https://www.holyart.it"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/holyart}}
			</a>
			<a
				href="https://www.hybridity.ai/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/hybridity}}
			</a>
		</div>

		<div class="trusted__row js-marquee-row js-anim-row">
			<a
				href="https://www.letzfair.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/letzfair}}
			</a>
			<a
				href="https://www.hrtools.it/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/hrtools}}
			</a>
			<a
				href="https://getmindbase.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				<img
					width="120"
					src="./images/partners/mindbase.png"
					alt="mindbase service logo"
					loading="lazy"
				/>
			</a>
			<a
				href="https://classai.us/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/classai}}
			</a>
			<a
				href="https://www.radicalloop.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/radicalloop}}
			</a>
			<a
				href="https://www.hypertype.co/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				<img
					width="56"
					src="./images/partners/hypertype.png"
					alt="hypertype service logo"
					loading="lazy"
				/>
			</a>
			<a
				href="https://pytech.ai/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				<img
					width="120"
					src="./images/partners/pytech.png"
					alt="pytech service logo"
					loading="lazy"
				/>
			</a>
			<a
				href="https://www.assessli.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				<img
					width="120"
					src="./images/partners/assessli.png"
					alt="assessli service logo"
					loading="lazy"
				/>
			</a>
			<a
				href="https://contextdata.ai/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/contextdata}}
			</a>
			<a
				href="https://www.aiswers.com/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item js-marquee-item"
			>
				{{> icons/partners/aiswers}}
			</a>
			<a
				href="https://fidocommercialista.it/"
				target="_blank"
				rel="noopener"
				class="trusted__row-item trusted__row-item--lg js-marquee-item"
			>
				{{> icons/partners/fidocommercialista}}
			</a>
		</div>
	</div>

	<div class="l-divider js-anim-divider" aria-hidden="true">
		{{> illustrations/divider}}
	</div>
</section>
