<section class="trusted">
	<p class="trusted__title h4">Trusted by global companies and partners</p>

	<div class="trusted__rows">
		<div class="trusted__row js-marquee-row" data-reversed>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
		</div>

		<div class="trusted__row js-marquee-row">
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
			<div class="trusted__row-item js-marquee-item"></div>
		</div>
	</div>

	<div class="l-divider" aria-hidden="true">{{> illustrations/divider}}</div>
</section>
