<section class="trusted">
	<p class="trusted__title h4">Trusted by global companies and partners</p>

	<div class="trusted__rows">
		<div class="trusted__row js-marquee-row" data-reversed>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/grand}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/solfu}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/wilder}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/sicuroit.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/sellix}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/zero.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/gavagai}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/arc53}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/holyart}}
			</div>
		</div>

		<div class="trusted__row js-marquee-row">
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/letzfair}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/hrtools}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/mindbase.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/classai}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/radicalloop}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/hypertype.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/pytech.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				<img src="./images/partners/assessli.png" alt="Partner" />
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/contextdata}}
			</div>
			<div class="trusted__row-item js-marquee-item">
				{{> icons/partners/aiswers}}
			</div>
		</div>
	</div>

	<div class="l-divider" aria-hidden="true">{{> illustrations/divider}}</div>
</section>
