<section class="vision">
	<p class="h2 vision__title" data-scroll-trigger="item">Vision</p>
	<p class="h4 vision__text" data-scroll-trigger="item">
		We envision a future where every individual, company, and country has access to powerful, private, and
		personalized AI models.
	</p>

	<div class="vision__ill" data-scroll-trigger="item">
		<img src="./images/vision-ill.png" alt="Vision illustration" draggable="false" loading="lazy" />
		<div class="vision__bg" aria-hidden="true"></div>
	</div>
</section>