<section class="vision">
	<p class="h2 vision__title" data-scroll-trigger="item">Vision</p>
	<p class="h4 vision__text" data-scroll-trigger="item">
		We envision a future where everyone can access and own powerful, private,
		and personalized AI models, unlocking AI's full potential for the benefit of
		all.
	</p>

	<div class="vision__ill" data-scroll-trigger="item">
		<img
			data-lazy-src="./images/vision-ill.png"
			alt="Stars illustration"
			draggable="false"
			class="lazy-el js-lazy-el"
		/>
		<div class="vision__bg" aria-hidden="true"></div>
	</div>
</section>
