<section class="workflow">
	<div class="divider-label workflow__label js-divider-label" data-scroll-trigger="item">
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-left}}
		</div>
		<p class="divider-label__text h5 js-divider-label-text">Workflow</p>
		<div class="divider-label__ill js-divider-label-ill" aria-hidden="true">
			{{> illustrations/divider-sm-right}}
		</div>
	</div>

	<p class="h2 workflow__title js-anim-item" data-scroll-trigger="item">
		Getting started with <span class="t-grad">Prem</span>
	</p>

	<div class="workflow__content">
		<div class="workflow__bg" aria-hidden="true">
			{{> illustrations/bg-ellipse}}
		</div>
		<div class="workflow__ill" aria-hidden="true">
			<div data-scroll-trigger="item">{{> illustrations/logo-ill}}</div>
		</div>

		<div class="workflow__items js-glow-cards">
			<div class="workflow__item glow-rad__item js-glow-card" data-scroll-trigger="item">
				<img src="./images/workflow-01.png" alt="Define how AI will be leveraged within your product."
					class="workflow__item-img" loading="lazy" draggable="false" />

				<p class="workflow__item-text">
					Define how AI will be leveraged within your product.
				</p>

				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="workflow__item glow-rad__item js-glow-card" data-scroll-trigger="item">
				<img src="./images/workflow-02.png" alt="Integrate PREM in your product with the SDK"
					class="workflow__item-img" loading="lazy" draggable="false" />

				<p class="workflow__item-text">
					Integrate Prem into your product using our SDK.
				</p>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>

			<div class="workflow__item glow-rad__item js-glow-card" data-scroll-trigger="item">
				<img src="./images/workflow-03.png" alt="Unlock the AI power" class="workflow__item-img" loading="lazy"
					draggable="false" />

				<p class="workflow__item-text">
					Elevate your product by unlocking the full power of AI with ease.
				</p>
				<div class="glow-rad" aria-hidden="true"></div>
			</div>
		</div>
	</div>
</section>