<svg
	xmlns="http://www.w3.org/2000/svg"
	width="42"
	height="42"
	viewBox="0 0 42 42"
	fill="none"
>
	<circle
		cx="21"
		cy="21"
		r="20.5"
		transform="rotate(-180 21 21)"
		fill="url(#paint0_linear_274_4534)"
		stroke="url(#paint1_linear_274_4534)"
	/>
	<defs>
		<linearGradient
			id="paint0_linear_274_4534"
			x1="21"
			y1="0"
			x2="21"
			y2="42"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E2E8FF" stop-opacity="0" />
			<stop offset="1" stop-color="#E2E8FF" stop-opacity=".12" />
		</linearGradient>
		<linearGradient
			id="paint1_linear_274_4534"
			x1="42"
			y1="42"
			x2="-7.271"
			y2="30.096"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#fff" />
			<stop offset="1" stop-color="#fff" stop-opacity="0" />
		</linearGradient>
	</defs>
</svg>
